In [1]:
# This notebook does the following:
    # A. Queries our database to construct sentence level data from court commitment and sentence computation for every
    # infraction resulting in incarceration. (dataset A)
    # B. Queries sentence component to get Most Serious Offense from all sentence components since this variable
    # is missing in much of dataset A and is needed as our outcome variable (dataset B)
    # C. Puts together dataset A and B
    # D. Carries out several steps of cleaning the data and getting recidivism flag
    # E. Queries database for any additional features (e.g. disciplinary infractions)
    # F. Hold outs active sentences, drops those missing recidivism flag
    # Dropped observations missing the following (if we can't proxy for them)
        # Sentence Start Date (~1.3%)
        # Sentence End Date (~800 obs)
        # Most Serious Offense (2.6% obs)
        # Our decided category (~1% obs)
    # F.

In [2]:
import sqlite3
from sqlite3 import Error
import pandas as pd
import config
import os.path
from os import path

from create_db import create_connection, create_table, clean_column_names
from populate_db import extract_data, insert_records
import query_db as qd

import importlib

import datetime
import re
import numpy as np

In [3]:
importlib.reload(qd)

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
#coded_offenses = pd.read_excel('https://github.com/christi-liongson/covid_decarceration/blob/construct_public_safety_data/data/Coding%20Offenses%20-%20For%20GitHub.xlsx',sheet_name="Coding - FINAL")
coded_offenses = pd.read_excel('../data/Coding Offenses - For GitHub.xlsx',sheet_name="Coding - FINAL")

In [6]:
coded_offenses.head()

,Primary offense code,Description (if needed),Decided Category,Needed a check?,More lenient,More harsh
0,DRIV LICENSE REVOKED,0,1,NO,1,1
1,LARCENY,0,2,YES,1,3
2,DWI DRIVING WHILE IMPAIRED,0,2,NO,2,2
3,FELONY B&E,"Felony Breaking and Entering, as opposed to Mi...",3,YES,2,4
4,WORTHLESS CHECK,0,1,NO,1,1

In [7]:
# Part A: Queries our database to construct sentence level data from court commitment and sentence computation for every
    # infraction resulting in incarceration. (dataset A)
start = datetime.datetime.now()
query_court_commitment = '''
                        SELECT A.OFFENDER_NC_DOC_ID_NUMBER as ID, 
                            A.COMMITMENT_PREFIX, 
                            A.EARLIEST_SENTENCE_EFFECTIVE_DT, 
                            A.MOST_SERIOUS_OFFENSE_CODE                              
                        FROM OFNT3BB1 A
                        WHERE NEW_PERIOD_OF_INCARCERATION_FL = "Y";
                        '''

conn = create_connection(config.database_name)
court_small = qd.query_db_notebook(conn,query_court_commitment)


query_sentence_comp = '''
                            SELECT INMATE_DOC_NUMBER as ID, 
                                INMATE_COMMITMENT_PREFIX as COMMITMENT_PREFIX, 
                                INMATE_COMPUTATION_STATUS_FLAG, 
                                max(ACTUAL_SENTENCE_END_DATE) as END_DATE,
                                max(PROJECTED_RELEASE_DATE_PRD) as PROJ_END_DATE
                            FROM INMT4BB1
                            GROUP BY INMATE_DOC_NUMBER, INMATE_COMMITMENT_PREFIX;
                        '''

sentence_compute_small = qd.query_db_notebook(conn,query_sentence_comp)


query_inmt_profile = '''
                    SELECT 
                        INMATE_DOC_NUMBER as ID,
                        INMATE_RECORD_STATUS_CODE,
                        INMATE_ADMIN_STATUS_CODE,
                        DATE_OF_LAST_INMATE_MOVEMENT,
                        TYPE_OF_LAST_INMATE_MOVEMENT,
                        CURRENT_COMMITMENT_PREFIX,
                        INMATE_GENDER_CODE as GENDER,
                        INMATE_RACE_CODE as RACE,
                        INMATE_BIRTH_DATE as BIRTH_DATE,
                        INMATE_ETHNIC_AFFILIATION as ETHNICITY,
                        INMATE_CONTROL_STATUS_CODE as CONTROL_STATUS,
                        INMATE_SPECIAL_CHARACTERISTICS as SPECIAL_CHARS,
                        TOTAL_DISCIPLINE_INFRACTIONS,
                        LATEST_DISCIPLINE_INFRACTION,
                        LAST_DISCIPLINE_INFRACTION_DT
                    FROM INMT4AA1;
                    '''

query_inmt_profile = '''
                    SELECT 
                        INMATE_DOC_NUMBER as ID,
                        INMATE_RECORD_STATUS_CODE,
                        INMATE_ADMIN_STATUS_CODE,
                        DATE_OF_LAST_INMATE_MOVEMENT,
                        TYPE_OF_LAST_INMATE_MOVEMENT,
                        CURRENT_COMMITMENT_PREFIX,
                        INMATE_CONTROL_STATUS_CODE as CONTROL_STATUS
                    FROM INMT4AA1;
                    '''

inmt_profile = qd.query_db_notebook(conn,query_inmt_profile)

query_offender_profile = '''
                        SELECT 
                        OFFENDER_NC_DOC_ID_NUMBER as ID,
                        OFFENDER_GENDER_CODE as GENDER,
                        OFFENDER_RACE_CODE as RACE,
                        OFFENDER_BIRTH_DATE as BIRTH_DATE,
                        STATE_WHERE_OFFENDER_BORN as STATE_BORN,
                        OFFENDER_ETHNIC_CODE as ETHNICITY,
                        OFFENDER_CITIZENSHIP_CODE as CITIZENSHIP                        
                    FROM OFNT3AA1;
                            
                        '''

offender_profile = qd.query_db_notebook(conn,query_offender_profile)

conn.close

data = court_small.merge(sentence_compute_small, on=['ID','COMMITMENT_PREFIX'], how='outer')
data = data.merge(inmt_profile, on=['ID'], how = 'left')
data = data.merge(offender_profile, on=['ID'], how = 'left')
#data = data.merge(disc_infraction, on=['ID'], how='left')


stop = datetime.datetime.now()
print("Time Elapsed:", stop - start)

Time Elapsed: 0:02:25.101231

In [8]:
#data.to_csv('datasetA_court_sentcomp.csv', index=False)

In [9]:
data.shape

(903181, 19)

In [10]:
# Part B: Queries sentence component to get Most Serious Offense from all sentence components since this variable
    # is missing in much of dataset A and is needed as our outcome variable (dataset B)

start = datetime.datetime.now()

query_sentence_component = '''
                            SELECT OFFENDER_NC_DOC_ID_NUMBER as ID, 
                                        COMMITMENT_PREFIX, 
                                        SENTENCE_COMPONENT_NUMBER,
                                        PRIMARY_OFFENSE_CODE,
                                        PRIMARY_FELONYMISDEMEANOR_CD,
                                        SENTENCING_PENALTY_CLASS_CODE,
                                        PRIOR_RECORD_LEVEL_CODE,
                                        MINIMUM_SENTENCE_LENGTH,
                                        MAXIMUM_SENTENCE_LENGTH,
                                        SENTENCE_TYPE_CODE,
                                        COUNTY_OF_CONVICTION_CODE
                            FROM OFNT3CE1
                            WHERE SENTENCE_TYPE_CODE LIKE '%PRISONS%';
                            '''

conn = create_connection(config.database_name)
sent_comp_small = qd.query_db_notebook(conn,query_sentence_component)

stop = datetime.datetime.now()
print("Time Elapsed:", stop - start)

Time Elapsed: 0:01:38.665407

In [11]:
#sent_comp_small.to_csv('datasetB_sentcomponent_only_incarcerated.csv', index=False)

In [12]:
# Part B: Queries sentence component to get Most Serious Offense from all sentence components since this variable
    # is missing in much of dataset A and is needed as our outcome variable (dataset B)
# Check how many unique ID and COMMITMENT_PREFIX combinations there are
dataset_B = sent_comp_small.copy()
grouped = dataset_B.groupby(['ID', 'COMMITMENT_PREFIX'])
total_combinations = grouped.ngroups
print(total_combinations)

# Find the ID / COMMITMENT_PREFIX combinations that have the maximum MINIMUM_SENTENCE_LENGTH
# We will use these combinations to filter dataset_B for PRIMARY_OFFENSE_CODE
# Note: These might not be unique

min_sentence = pd.DataFrame(dataset_B.groupby(['ID', 'COMMITMENT_PREFIX'])['MINIMUM_SENTENCE_LENGTH'].max().reset_index(name='max_min'))
min_sentence.head(10)

# Check to make sure we're not accidentally dropping any rows
min_sentence.groupby(['ID', 'COMMITMENT_PREFIX']).ngroups

# Filter dataset_B to only these rows
filter_tuples = [tuple(x) for x in min_sentence.to_numpy()]

filtered_B = dataset_B[dataset_B[['ID', 'COMMITMENT_PREFIX', 'MINIMUM_SENTENCE_LENGTH']].apply(tuple, axis=1).isin(filter_tuples)]
filtered_B.head(10)

count_nunique_offenses = pd.DataFrame(filtered_B.groupby(['ID', 'COMMITMENT_PREFIX'])['PRIMARY_OFFENSE_CODE'].nunique().reset_index(name='count'))
count_nunique_offenses['count'].describe()


# Pull out the ID / COMMITMENT_PREFIX combinations that are unique on max(MINIMUM_SENTENCE_LENGTH)
unique_min_filter = [tuple(x) for x in count_nunique_offenses[count_nunique_offenses['count'] == 1][['ID', 'COMMITMENT_PREFIX']].to_numpy()]
nonunique_min_filter = [tuple(x) for x in count_nunique_offenses[count_nunique_offenses['count'] != 1][['ID', 'COMMITMENT_PREFIX']].to_numpy()]

cols_to_keep = ['ID', 'COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE','MINIMUM_SENTENCE_LENGTH', 'MAXIMUM_SENTENCE_LENGTH']

filtered_B_min_unique = filtered_B[filtered_B[['ID','COMMITMENT_PREFIX']].apply(tuple, axis=1).isin(unique_min_filter)][cols_to_keep]
filtered_B_min_unique.head()

# Drop duplicate rows from filtered_B_min_unique (we know that they all have the same PRIMARY_OFFENSE_CODE)
# Note: This method keeps the first observation, but again, this shouldn't matter
filtered_B_min_unique.drop_duplicates(subset=['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE'],inplace=True)
filtered_B_min_unique.head()

filtered_B_min_nonunique = filtered_B[filtered_B[['ID','COMMITMENT_PREFIX']].apply(tuple, axis=1).isin(nonunique_min_filter)][cols_to_keep]
filtered_B_min_nonunique.head()

find_max_max = pd.DataFrame(filtered_B_min_nonunique.groupby(['ID', 'COMMITMENT_PREFIX'])['MAXIMUM_SENTENCE_LENGTH'].max().reset_index(name='max_max'))
find_max_max.head()

by_max_tuples = [tuple(x) for x in find_max_max.to_numpy()]
filtered_B_max = filtered_B_min_nonunique[filtered_B_min_nonunique[['ID', 'COMMITMENT_PREFIX', 'MAXIMUM_SENTENCE_LENGTH']].apply(tuple, axis=1).isin(by_max_tuples)]
filtered_B_max.head()

count_offenses_by_max = pd.DataFrame(filtered_B_max.groupby(['ID', 'COMMITMENT_PREFIX'])['PRIMARY_OFFENSE_CODE'].nunique().reset_index(name='count'))
count_offenses_by_max.head()

# Pull out the ID and COMMITMENT_PREFIX tuples in FILTERED_B_MT1 where there is a unique PRIMARY_OFFENSE_CODE
# after looking at the maximum of MAXIMUM_SENTENCE_LENGTH
unique_max = count_offenses_by_max[count_offenses_by_max['count'] == 1][['ID', 'COMMITMENT_PREFIX']]
unique_max_filter = [tuple(x) for x in unique_max.to_numpy()]

filtered_B_max_unique = filtered_B_max[filtered_B_max[['ID', 'COMMITMENT_PREFIX']].apply(tuple, axis=1).isin(unique_max_filter)]
filtered_B_max_unique.head()

# Drop duplicate rows from filtered_B_max_unique (we know that they all have the same PRIMARY_OFFENSE_CODE)
# Note: This method keeps the first observation, but again, this shouldn't matter
filtered_B_max_unique.drop_duplicates(subset=['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE'],inplace=True)
filtered_B_max_unique.head()

concat_1_2 = filtered_B_min_unique.append(filtered_B_max_unique)
concat_1_2.shape

# Final merged version of datasets A and B
dataset_with_most_serious = concat_1_2
dataset_with_most_serious.shape

891122

/Users/daminisharma/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(823722, 5)

In [13]:
# Part C: Puts together dataset A and B
datasetB_primary_offense = dataset_with_most_serious.loc[:,['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE']]

print("Dataset B # observations:",datasetB_primary_offense.shape[0])

# merging on datasetA (court commitment + sentence computation) with datasetB ("self constructed" primary offenses from
# sentence component)
data_A_B = data.merge(datasetB_primary_offense, on = ['ID','COMMITMENT_PREFIX'], how='left')

Dataset B # observations: 823722

In [14]:
# Part D: Carries out several steps of cleaning the data and getting recidivism flag

# Replace Most Serious Offense with our constructed Primary Offense Code if missing
data_A_B['MOST_SERIOUS_OFFENSE_CODE'].mask(data_A_B['MOST_SERIOUS_OFFENSE_CODE'].isnull(), data_A_B['PRIMARY_OFFENSE_CODE'], inplace=True)

print("% missing most serious offense:",data_A_B['MOST_SERIOUS_OFFENSE_CODE'].isnull().sum() / data_A_B.shape[0])
print("Total number of observations in dataset A + B: ", data_A_B.shape[0])

# Step 1
# https://kanoki.org/2019/07/17/pandas-how-to-replace-values-based-on-conditions/
print("Cleaning dates and dropping missing")
data_A_B['END_DATE'].mask(data_A_B['END_DATE'] == '0001-01-01', data_A_B['PROJ_END_DATE'], inplace=True)
data_A_B = data_A_B[data_A_B['END_DATE']!='0001-01-01']
data_A_B = data_A_B[data_A_B['EARLIEST_SENTENCE_EFFECTIVE_DT']!='0001-01-01']
data_A_B = data_A_B[data_A_B['END_DATE'].notna()]
data_A_B = data_A_B[data_A_B['EARLIEST_SENTENCE_EFFECTIVE_DT'].notna()]

print("Total number of observations in dataset A + B: ", data_A_B.shape[0])
print("% still missing most serious offense:",data_A_B['MOST_SERIOUS_OFFENSE_CODE'].isnull().sum() / data_A_B.shape[0])

# Step 1.5 drop observations missing most serious offense code
print("Drop observations missing most serious offense code")
data_A_B = data_A_B[data_A_B['MOST_SERIOUS_OFFENSE_CODE'].notna()]
print("Total number of observations in dataset A + B: ", data_A_B.shape[0])

# Step 2
# write data to sqlite in memory so can query it to get next record
print("Querying database to get nextPrefix, nextOffense")
conn = sqlite3.connect(':memory:')
data_A_B.to_sql('data', conn, index=False)

start = datetime.datetime.now()
# https://stackoverflow.com/questions/37360901/sql-self-join-compare-current-record-with-the-record-of-the-previous-date
query_datasetAB = '''
                        SELECT *, 
                        LEAD(COMMITMENT_PREFIX,1,0) OVER (
                                                    PARTITION BY ID
                                                    ORDER BY COMMITMENT_PREFIX
                                                    ) NextPrefix,
                        LEAD(EARLIEST_SENTENCE_EFFECTIVE_DT,1,0) OVER (
                                                    PARTITION BY ID
                                                    ORDER BY COMMITMENT_PREFIX
                                                    ) NextStart,
                        LEAD(MOST_SERIOUS_OFFENSE_CODE,1,0) OVER (
                                                    PARTITION BY ID
                                                    ORDER BY COMMITMENT_PREFIX
                                                    ) NextOffense                                                    
                                                    
                        FROM data ;

                        '''


dataset_flag = qd.query_db_notebook(conn,query_datasetAB)
conn.close
stop = datetime.datetime.now()
print("Time Elapsed:", stop - start)

% missing most serious offense: 0.03883602640442347
Total number of observations in dataset A + B:  903182
Cleaning dates and dropping missing
Total number of observations in dataset A + B:  888121
% still missing most serious offense: 0.02623966779301469
Drop observations missing most serious offense code
Total number of observations in dataset A + B:  864817
Querying database to get nextPrefix, nextOffense
Time Elapsed: 0:01:03.127480

In [15]:
# Define functions that fix dates
# specifically, some dates are top coded as 9999- usually for a life sentence
# this exceeds pandas' max date, so they first need to be re-top-coded, then turned into the date format
# date == 0 happens when an individual does NOT have a "next date" - these should be turned to Na
def fix_dates(data,date_var):
    data['new_col'] = data[date_var].astype(str).str[0:4].astype(int)
    data.loc[data['new_col']>2261, date_var] = '2261-01-02'
    data[date_var] = data[date_var].replace(0,np.nan)
    data.loc[data[date_var]=="0", date_var] = None
    data[date_var] = pd.to_datetime(data[date_var],format='%Y-%m-%d',errors='coerce')
    #df[date_var] = pd.to_datetime(df[date_var].str.split(n=1).str[0],format='%Y-%m-%d')
    return data


def get_recidivism_label(data,num_years=1):
    data['Time_Diff'] = pd.DatetimeIndex(data['NextStart']).year - pd.DatetimeIndex(data['END_DATE']).year
    data['Recidivate'] = np.nan
    # if NextPrefix != 0:
    data.loc[(data['NextPrefix']!=0) & (data['Time_Diff']<= num_years), 'Recidivate'] = 1
    data.loc[(data['NextPrefix']!=0) & (data['Time_Diff']> num_years), 'Recidivate'] = 0
    
    # if nextprefix = 0, inmate is inactive, and they did not die in prison 
    # (e.g. serving life sentence or  other wise) then 
    # recidivism = 0
    data.loc[(data['NextPrefix']==0) & (data['INMATE_ADMIN_STATUS_CODE']=='INACTIVE') & (data['TYPE_OF_LAST_INMATE_MOVEMENT']!='DEATH'), 'Recidivate'] = 0
    
    # if nextprefix = 0, inmate status code is not active or inactive(could be missing) and 
    # end date is not 2261-01-02 (life sentence), they were likely released from prison
    # recidivism = 0
    data.loc[(data['NextPrefix']==0) & (data['INMATE_ADMIN_STATUS_CODE']!='ACTIVE') & (data['INMATE_ADMIN_STATUS_CODE']!='INACTIVE') & (data['END_DATE']!='2261-01-02'), 'Recidivate'] = 0
    
    return data

In [16]:
# Part D continued
# Step 3. 
# call fix dates function to fix relevant dates
print("Fix Dates")
dataset_flag = fix_dates(dataset_flag,'EARLIEST_SENTENCE_EFFECTIVE_DT')
dataset_flag = fix_dates(dataset_flag,'END_DATE')
dataset_flag = fix_dates(dataset_flag,'NextStart')

# Step 4
# get recidivism flag - see decision rules and function above 
print("Get recidivism flag")
dataset_flag = get_recidivism_label(dataset_flag)

Fix Dates
Get recidivism flag

In [19]:
conn = create_connection(config.database_name)
query_disc_infraction = '''
                    SELECT INMATE_DOC_NUMBER as ID,
                            COUNT(*) as DISCIPLINARY_INFRACTION_COUNT                            
                    FROM INMT9CF1
                    GROUP BY INMATE_DOC_NUMBER;
                    '''
query_disc_infraction = '''
                    SELECT *                           
                    FROM INMT9CF1
                    LIMIT 1000;
                    '''


disc_infraction = qd.query_db_notebook(conn,query_disc_infraction)

conn.close

In [18]:
disc_infraction.head()

,INMATE_DOC_NUMBER,DISCIPLINARY_INFRACTION_DATE,DISCIPLINARY_INFRACTION_TIME,DISCIP_INFRACTION_SEQUENCE_NO,DISCIPLINARY_INFRACTION_CODE,DISCIPLINARY_CHARGE_LEVEL,INMATE_PLEA_RE_INFRACTION,DISCIINFRACTION_VERDICT_CODE,TYPE_OF_HEARING_FOR_PUNISHMENT,DISCIPLINARY_APPEAL_DECISION,DISCI_SEGREGATION_TIME_DAYS,DSEG_DAYS_SUSPENDEDIN_MONTHS,GOOD_TIME_LOST_DUE_TO_INFRAC,GOOD_TIME_LOST_SUSPENDED_MOS,DISCI_VIOLATION_STATUS_CODE,EXTRA_DUTY_HOURS,EXTRA_DUTY_HOURS_SUSPEND_MNTHS,PRIVILEGE_LOST__1ST_TYPE_CODE,PRIVILEGE_LOST__2ND_TYPE_CODE,PRIVILEGE_LOST__3RD_TYPE_CODE,PRIVILEGES_SUSPENDED_IN_DAYS,SUSPPRIVILEGES_SUSPENDEDMOS,CUSTODY_DEMOTED_FROM_CODE,CUSTODY_DEMOTED_TO_CODE,CUSTODY_DEMOTION_SUSPENDEDMO,ACTIVATE_PRIOR_SUSPENSION,DATE_OF_LAST_UPDATE,TIME_OF_LAST_UPDATE,ORIGINAL_DR_CODE_FROM_INVEST,SUSPENSION_STATUS,DATE_OF_PRIOR_SUSP_PUNISH,TIME_OF_PRIOR_SUSP_PUNISH
0,0000010,1975-07-26,01:00:00,1,MISUSE SUPPLIES,UNIT,GUILTY,GUILTY,CONV,None,00,0,00,2,APPLIED,00,0,UNRECORDED - CONV.,None,None,000,0,None,None,0,None,0001-01-01,01:00:00,None,SUSPENSIONS EXIST,0001-01-01,01:00:00
1,0000010,1975-07-28,01:00:00,1,DISOBEY ORDER,UNIT,GUILTY,GUILTY,CONV,None,00,0,00,0,APPLIED,00,0,UNRECORDED - CONV.,None,None,000,0,None,None,0,None,0001-01-01,01:00:00,None,None,0001-01-01,01:00:00
2,0000010,1975-11-23,01:00:00,1,DISOBEY ORDER,UNIT,GUILTY,GUILTY,CONV,None,00,0,00,0,APPLIED,00,0,UNRECORDED - CONV.,None,None,000,0,None,None,0,None,0001-01-01,01:00:00,None,None,0001-01-01,01:00:00
3,0000010,1976-01-03,01:00:00,1,DISOBEY ORDER,UNIT,GUILTY,GUILTY,CONV,None,00,0,00,0,APPLIED,00,0,UNRECORDED - CONV.,None,None,000,0,None,None,0,None,0001-01-01,01:00:00,None,None,0001-01-01,01:00:00
4,0000010,1976-01-22,01:00:00,1,DISOBEY ORDER,UNIT,GUILTY,GUILTY,CONV,None,00,0,00,0,APPLIED,00,0,UNRECORDED - CONV.,None,None,000,0,None,None,0,None,0001-01-01,01:00:00,None,None,0001-01-01,01:00:00

In [42]:
weird = dataset_flag[dataset_flag['Time_Diff']<0]

In [43]:
weird.head(100)

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff,Recidivate
6,0000010,AA,1975-06-11,SAFECRACKING/SAFE ROBBERY,EXPIRED,1977-03-17,0001-01-01,INACTIVE,INACTIVE,1983-06-27,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1953-05-18,None,UNKNOWN,BORN IN U.S.,SAFECRACKING/SAFE ROBBERY,AB,1975-06-11,SAFECRACKING/SAFE ROBBERY,1975,-2.0,1.0
134,0000192,AA,1974-07-30,MURDER SECOND DEGREE,EXPIRED,1975-01-28,0001-01-01,INACTIVE,INACTIVE,2001-10-20,TERMINATED PAROLE,BA,REGULAR POPULATION RPOP,MALE,WHITE,1952-11-18,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,MURDER SECOND DEGREE,AB,1974-07-12,MURDER SECOND DEGREE,1974,-1.0,1.0
135,0000192,AB,1974-07-12,MURDER SECOND DEGREE,EXPIRED,1978-08-02,1995-07-16,INACTIVE,INACTIVE,2001-10-20,TERMINATED PAROLE,BA,REGULAR POPULATION RPOP,MALE,WHITE,1952-11-18,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,MURDER SECOND DEGREE,AC,1974-07-12,MURDER SECOND DEGREE,1974,-4.0,1.0
151,0000206,AA,1977-11-15,ARMED ROBBERY,EXPIRED,1978-07-03,0001-01-01,INACTIVE,INACTIVE,1985-03-10,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1953-10-12,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ARMED ROBBERY,AB,1977-11-15,ARMED ROBBERY,1977,-1.0,1.0
307,0000382,AD,1975-05-22,ASSAULT,EXPIRED,1976-01-30,0001-01-01,INACTIVE,INACTIVE,1991-10-25,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1941-06-20,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ASSAULT,AE,1975-04-18,RECEIVING STOLEN VEHICLE,1975,-1.0,1.0
670,0000678,AB,1976-09-22,AWDW,EXPIRED,1978-09-25,1978-09-24,INACTIVE,INACTIVE,1994-08-03,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1953-02-22,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,AWDW,AC,1976-09-22,AWDW,1976,-2.0,1.0
1517,0001508,AB,1976-08-26,BURGLARY 1ST DEGREE,EXPIRED,1977-08-31,0001-01-01,INACTIVE,INACTIVE,2004-10-12,EXPIRATION,BA,REGULAR POPULATION RPOP,MALE,BLACK,1956-02-27,None,UNKNOWN,BORN IN U.S.,BURGLARY 1ST DEGREE,BA,1976-08-25,RAPE SECOND DEGREE,1976,-1.0,1.0
1619,0001587,AA,1976-04-22,LARCENY (OVER $200),EXPIRED,1977-02-08,0001-01-01,INACTIVE,INACTIVE,1980-05-06,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1959-03-15,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,LARCENY (OVER $200),AB,1976-02-27,LARCENY (OVER $200),1976,-1.0,1.0
2667,0002748,AA,1974-03-28,ROBBERY W/DANGEROUS WEAPON,EXPIRED,1975-04-25,0001-01-01,INACTIVE,INACTIVE,1985-02-04,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1953-11-11,None,UNKNOWN,BORN IN U.S.,ROBBERY W/DANGEROUS WEAPON,AB,1974-03-28,ROBBERY W/DANGEROUS WEAPON,1974,-1.0,1.0
3150,0003186,AC,1973-11-21,SAFECRACKING/SAFE ROBBERY,EXPIRED,1974-12-17,0001-01-01,ACTIVE,ACTIVE,2019-04-15,RECEIVED FROM,BA,REGULAR POPULATION RPOP,MALE,WHITE,1946-10-30,NEW YORK,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,SAFECRACKING/SAFE ROBBERY,AD,1973-06-22,SAFECRACKING/SAFE ROBBERY,1973,-1.0,1.0
3192,0003221,AA,1972-12-08,MURDER FIRST DEGREE,EXPIRED,1973-11-07,0001-01-01,INACTIVE,INACTIVE,2005-01-28,TERMINATED PAROLE,BA,REGULAR POPULATION RPOP,MALE,BLACK,1950-06-06,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,MURDER FIRST DEGREE,BA,1972-12-06,MURDER FIRST DEGREE,1972,-1.0,1.0
4019,0003924,BA,2018-11-21,DWI LEVEL 1 AGGRAVATED,EXPIRED,2019-09-27,2021-05-28,ACTIVE,ACTIVE,2019-09-27,RE-ADMISSION,BB,RESTRCT HOUSNG 4 CTL PURP RHCP,FEMALE,WHITE,1974-09-24,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,DWI LEVEL 1 AGGRAVATED,BB,2018-11-21,DWI LEVEL 1 AGGRAVATED,2018,-1.0,1.0
4222,0004138,AB,1973-12-13,ROBBERY W/DANGEROUS WEAPON,EXPIRED,1974-09-17,0001-01-01,INACTIVE,INACTIVE,1981-04-28,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1940-05-31,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ROBBERY W/DANGEROUS WEAPON,AC,1973-06-22,ROBBERY W/DANGEROUS WEAPON,1973,-1.0,1.0
4223,0004138,AC,1973-06-22,ROBBERY W/DANGEROUS WEAPON,EXPIRED,1975-08-08,0001-01-01,INACTIVE,INACTIVE,1981-04-28,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1940-05-31,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ROBBERY W/DANGEROUS WEAPON,AD,1973-12-13,ROBBERY W/DANGEROUS WEAPON,1973,-2.0,1.0
4339,0004207,BH,2011-12-06,FELONY B&E,EXPIRED,2018-07-07,2018-07-07,ACTIVE,ACTIVE,2020-03-24,RECEIVED FROM,BI,REGULAR POPULATION RPOP,MALE,BLACK,1969-06-29,NORTH CAROLINA,AFRICAN,BORN IN U.S.,FELONY B&E,BI,2011-11-08,B&E HOUSE OF WORSHIP,2011,-7.0,1.0
4957,0004680,BC,2016-08-02,POSSESSION OF FIREARM BY FELON,EXPIRED,2019-03-22,2019-03-22,INACTIVE,INACTIVE,2019-04-28,EXPIRATION,BD,REGULAR POPULATION RPOP,MALE,BLACK,1972-04-24,NORTH CAROLINA,AFRICAN,BORN IN U.S.,POSSESSION OF FIREARM BY FELON,BD,2018-11-29,DWI LEVEL 1,2018,-1.0,1.0
4987,0004696,AA,1975-05-20,COMMON LAW ROBBERY,EXPIRED,1976-01-26,1900-01-19,INACTIVE,INACTIVE,1977-05-17,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1932-07-20,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,COMMON LAW ROBBERY,AB,1975-05-20,COMMON LAW ROBBERY,1975,-1.0,1.0
5205,0004895,AA,1971-04-30,OTHER FELON,EXPIRED,1973-02-13,1971-04-30,INACTIVE,INACTIVE,1986-05-05,EXPIRATION,None,REGULAR POPULATION RPOP,MALE,BLACK,1951-01-05,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,OTHER FELON,AB,1971-04-30,SAFECRACKING/SAFE ROBBERY,1971,-2.0,1.0
5233,0004938,AA,1976-03-11,ARMED ROBBERY,EXPIRED,1977-04-04,0001-01-01,INACTIVE,INACTIVE,1988-12-10,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1956-09-26,NORTH CAROLINA,AFRICAN,BORN IN U.S.,ARMED ROBBERY,AB,1976-03-11,ARMED ROBBERY,1976,-1.0,1.0
5392,0005062,AA,1976-12-14,AWITC RAPE,EXPIRED,1977-12-05,0001-01-01,INACTIVE,INACTIVE,2009-01-22,EXPIRATION,BC,REGULAR POPULATION RPOP,MALE,BLACK,1957-11-01,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,AWITC RAPE,AB,1976-12-08,AWITC RAPE,1976,-1.0,1.0
5407,0005072,AG,1993-05-26,POSSESS SCHEDULE II,EXPIRED,1995-02-20,1996-06-26,ACTIVE,ACTIVE,2019-12-03,None,BD,REGULAR POPULATION RPOP,MALE,BLACK,1964-07-03,NORTH CAROLINA,AFRICAN,BORN IN U.S.,POSSESS SCHEDULE II,BA,1994-10-27,POSSESSION OF FIREARM BY FELON,1994,-1.0,1.0
6448,0006054,AB,1977-06-02,OTHER FELON,EXPIRED,1978-05-02,0001-01-01,INACTIVE,INACTIVE,2009-10-11,TERMINATED PAROLE,BA,REGULAR POPULATION RPOP,MALE,BLACK,1945-11-15,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,OTHER FELON,AC,1977-06-02,MURDER SECOND DEGREE,1977,-1.0,1.0
6606,0006163,AA,1972-09-08,MURDER SECOND DEGREE,EXPIRED,1973-04-16,0001-01-01,INACTIVE,INACTIVE,1989-11-17,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1951-08-12,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,MURDER SECOND DEGREE,AB,1972-09-08,MURDER SECOND DEGREE,1972,-1.0,1.0
7222,0006654,AB,1973-05-21,MURDER FIRST DEGREE,EXPIRED,1975-01-07,0001-01-01,INACTIVE,INACTIVE,2014-06-12,EXPIRATION,BA,REGULAR POPULATION RPOP,MALE,BLACK,1954-10-03,NORTH CAROLINA,AFRICAN,BORN IN U.S.,MURDER FIRST DEGREE,AC,1973-05-21,MURDER FIRST DEGREE,1973,-2.0,1.0
7998,0007541,AA,1975-12-16,MURDER SECOND DEGREE,EXPIRED,1976-11-03,0001-01-01,INACTIVE,INACTIVE,1994-12-05,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1955-05-23,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,MURDER SECOND DEGREE,AB,1975-12-16,MURDER SECOND DEGREE,1975,-1.0,1.0
8600,0008155,AB,1974-11-22,MURDER SECOND DEGREE,EXPIRED,1975-08-06,0001-01-01,INACTIVE,INACTIVE,1987-05-15,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1953-09-15,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,MURDER SECOND DEGREE,AC,1974-11-19,MURDER SECOND DEGREE,1974,-1.0,1.0
9336,0008859,AA,1977-09-07,COMMON LAW ROBBERY,EXPIRED,1981-01-02,1980-12-31,INACTIVE,INACTIVE,2003-03-17,EXPIRATION,BF,REGULAR POPULATION RPOP,MALE,WHITE,1951-11-17,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,COMMON LAW ROBBERY,AB,1980-12-10,MISD B&E,1980,-1.0,1.0
9963,0009512,BB,2017-01-23,DWI LEVEL 3,EXPIRED,2017-03-17,2017-04-22,INACTIVE,INACTIVE,2019-06-16,TERMINATED PAROLE,BC,REGULAR POPULATION RPOP,MALE,BLACK,1977-09-02,NORTH CAROLINA,AFRICAN,BORN IN U.S.,DWI LEVEL 3,BC,2016-12-12,MALICIOUS CONDUCT/PRISONER,2016,-1.0,1.0
10364,0009982,AB,1973-12-06,COMMON LAW ROBBERY,EXPIRED,1975-04-24,0001-01-01,INACTIVE,INACTIVE,1983-07-07,EXPIRATION,None,REGULAR POPULATION RPOP,MALE,BLACK,1933-06-15,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,COMMON LAW ROBBERY,AC,1973-12-06,COMMON LAW ROBBERY,1973,-2.0,1.0
10447,0010057,AA,1974-03-21,RAPE FIRST DEGREE,EXPIRED,1976-10-11,0001-01-01,INACTIVE,INACTIVE,1993-08-27,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1942-09-23,None,UNKNOWN,BORN IN U.S.,RAPE FIRST DEGREE,AB,1974-03-22,RAPE AND KINDRED OFFENSES,1974,-2.0,1.0
10855,0010424,AA,1974-12-05,FELONY B&E,EXPIRED,1975-09-15,0001-01-01,INACTIVE,INACTIVE,1981-03-13,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-11-18,None,UNKNOWN,BORN IN U.S.,FELONY B&E,AB,1974-08-09,SAFECRACKING/SAFE ROBBERY,1974,-1.0,1.0
10929,0010480,AA,1972-12-08,RAPE FIRST DEGREE,EXPIRED,1973-10-29,0001-01-01,INACTIVE,INACTIVE,1990-10-02,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1949-04-12,TENNESSEE,UNKNOWN,BORN IN U.S.,RAPE FIRST DEGREE,AB,1972-12-06,RAPE FIRST DEGREE,1972,-1.0,1.0
11115,0010660,AA,1975-03-15,MURDER SECOND DEGREE,EXPIRED,1975-07-18,0001-01-01,INACTIVE,INACTIVE,1977-09-14,DEATH,None,REGULAR POPULATION RPOP,MALE,BLACK,1916-05-11,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,MURDER SECOND DEGREE,AB,1974-11-05,MURDER SECOND DEGREE,1974,-1.0,1.0
11156,0010716,AA,1975-07-31,ROBBERY W/DANGEROUS WEAPON,EXPIRED,1976-01-05,0001-01-01,INACTIVE,INACTIVE,1981-07-19,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1955-08-12,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ROBBERY W/DANGEROUS WEAPON,AB,1975-03-13,ROBBERY W/DANGEROUS WEAPON,1975,-1.0,1.0
11708,0011217,AA,1973-09-05,MURDER SECOND DEGREE,EXPIRED,1974-03-20,0001-01-01,INACTIVE,INACTIVE,1984-10-09,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1950-12-25,NORTH CAROLINA,AFRICAN,BORN IN U.S.,MURDER SECOND DEGREE,AB,1973-09-05,MURDER SECOND DEGREE,1973,-1.0,1.0
11796,0011291,AE,1984-08-30,MURDER FIRST DEGREE,EXPIRED,1991-09-04,0001-01-01,ACTIVE,ACTIVE,2015-04-07,RECEIVED FROM,BA,REGULAR POPULATION RPOP,MALE,BLACK,1940-02-02,NORTH CAROLINA,AFRICAN,BORN IN U.S.,MURDER FIRST DEGREE,BA,1984-08-30,MURDER FIRST DEGREE,1984,-7.0,1.0
11912,0011401,AA,1975-05-14,ROBBERY W/DANGEROUS WEAPON,EXPIRED,1977-03-22,0001-01-01,INACTIVE,INACTIVE,1984-01-03,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1952-03-06,None,UNKNOWN,BORN IN U.S.,ROBBERY W/DANGEROUS WEAPON,AB,1975-05-14,ARMED ROBBERY,1975,-2.0,1.0
12038,0011526,AB,1976-01-16,FELONY B&E,EXPIRED,1976-10-13,0001-01-01,INACTIVE,INACTIVE,1988-02-29,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1944-09-28,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,FELONY B&E,AC,1975-10-30,SAFECRACKING/SAFE ROBBERY,1975,-1.0,1.0
12063,0011552,AC,1976-01-16,SAFECRACKING/SAFE ROBBERY,EXPIRED,1976-10-13,0001-01-01,INACTIVE,INACTIVE,2013-12-16,TERMINATED PAROLE,BA,REGULAR POPULATION RPOP,MALE,WHITE,1948-07-28,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,SAFECRACKING/SAFE ROBBERY,BA,1975-10-30,MURDER SECOND DEGREE,1975,-1.0,1.0
12700,0012142,AA,1976-07-01,POSSESS WITS SCHEDULE I,EXPIRED,1977-06-17,0001-01-01,INACTIVE,INACTIVE,1978-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1950-06-07,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,POSSESS WITS SCHEDULE I,AB,1976-07-01,POSSESS WITS SCHEDULE I,1976,-1.0,1.0
12964,0012338,AC,1975-09-05,FELONY B&E,EXPIRED,1976-01-14,0001-01-01,INACTIVE,INACTIVE,2013-11-16,TERMINATED PAROLE,BC,REGULAR POPULATION RPOP,MALE,BLACK,1945-04-16,FLORIDA,AFRICAN,BORN IN U.S.,FELONY B&E,AD,1975-09-05,FELONY B&E,1975,-1.0,1.0
13060,0012404,AA,1974-11-06,FELONY B&E,EXPIRED,1976-06-08,0001-01-01,INACTIVE,INACTIVE,1982-08-26,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1946-08-06,UNKNOWN,UNKNOWN,BORN IN U.S.,FELONY B&E,AB,1974-11-01,FELONY B&E,1974,-2.0,1.0
13343,0012678,BA,1993-01-25,MISD B&E,EXPIRED,1997-07-18,1997-07-18,INACTIVE,INACTIVE,2010-06-25,EXPIRATION,BG,REGULAR POPULATION RPOP,MALE,BLACK,1957-06-04,NORTH CAROLINA,AFRICAN,BORN IN U.S.,FELONY B&E,BB,1996-07-25,MISD B&E,1996,-1.0,1.0
13514,0012864,AA,1979-07-05,OPERATE VEHICLE W/O LICENSE,EXPIRED,1981-01-09,1979-12-10,INACTIVE,INACTIVE,1982-06-26,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1960-09-18,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,OPERATE VEHICLE W/O LICENSE,AB,1980-12-16,LARCENY (OVER $200),1980,-1.0,1.0
13587,0012930,BA,1991-11-18,MISD B&E,EXPIRED,1999-04-02,1999-04-02,INACTIVE,INACTIVE,2015-01-29,EXPIRATION,BD,REGULAR POPULATION RPOP,MALE,WHITE,1953-07-18,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,DWI DRIVING WHILE IMPAIRED,BB,1998-02-04,MISD B&E,1998,-1.0,1.0
13842,0013136,BA,1993-12-06,POSSESS WITS SCHEDULE II,EXPIRED,1997-04-13,1997-04-13,INACTIVE,INACTIVE,2001-06-22,TERMINATED PAROLE,BB,REGULAR POPULATION RPOP,MALE,BLACK,1962-03-16,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,POSSESS WITS SCHEDULE II,BB,1996-04-30,AWDWISI,1996,-1.0,1.0
13917,0013203,AA,1974-05-15,ASSAULT,EXPIRED,1975-08-07,0001-01-01,INACTIVE,INACTIVE,1985-09-09,DEATH,None,REGULAR POPULATION RPOP,FEMALE,WHITE,1921-01-08,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ASSAULT,AB,1974-05-15,ASSAULT,1974,-1.0,1.0
14942,0014237,AD,1992-12-23,RECEIVING STOLEN GOODS,EXPIRED,1993-03-27,1993-03-27,INACTIVE,INACTIVE,2004-01-14,EXPIRATION,BB,REGULAR POPULATION RPOP,MALE,WHITE,1959-03-16,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,RECEIVING STOLEN GOODS,BA,1992-12-23,RECEIVING STOLEN GOODS,1992,-1.0,1.0
15372,0014638,AA,1975-10-10,MURDER SECOND DEGREE,EXPIRED,1977-10-27,0001-01-01,INACTIVE,INACTIVE,1987-09-18,EXPIRATION,None,REGULAR POPULATION RPOP,MALE,BLACK,1927-06-14,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,MURDER SECOND DEGREE,AB,1975-10-10,MURDER SECOND DEGREE,1975,-2.0,1.0
15806,0015076,AC,1976-12-14,MANSLAUGHTER,EXPIRED,1977-11-02,0001-01-01,INACTIVE,INACTIVE,2000-04-23,EXPIRATION,BA,REGULAR POPULATION RPOP,MALE,BLACK,1950-07-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,MANSLAUGHTER,AD,1976-11-18,MANSLAUGHTER,1976,-1.0,1.0
16489,0015702,AB,1976-05-15,CRIME AGAINST NATURE,EXPIRED,1977-03-03,0001-01-01,INACTIVE,INACTIVE,1997-07-15,EXPIRATION,BA,REGULAR POPULATION RPOP,MALE,BLACK,1953-12-02,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,CRIME AGAINST NATURE,AC,1976-04-08,CRIME AGAINST NATURE,1976,-1.0,1.0
16495,0015702,AH,1994-02-22,ASSAULT ON FEMALE,EXPIRED,1994-03-17,1994-08-01,INACTIVE,INACTIVE,1997-07-15,EXPIRATION,BA,REGULAR POPULATION RPOP,MALE,BLACK,1953-12-02,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ASSAULT ON FEMALE,BA,1992-11-17,POSSESS SCHEDULE II,1992,-2.0,1.0
17538,0016748,AA,1973-12-05,OTHER FELON,EXPIRED,1975-07-28,0001-01-01,INACTIVE,INACTIVE,1985-11-23,EXPIRATION,None,REGULAR POPULATION RPOP,MALE,BLACK,1944-06-24,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,OTHER FELON,AB,1973-12-05,MURDER SECOND DEGREE,1973,-2.0,1.0
18395,0017521,BA,1991-10-25,SELL SCHEDULE II,EXPIRED,1996-11-22,1996-11-22,INACTIVE,INACTIVE,1998-05-11,EXPIRATION,BB,REGULAR POPULATION RPOP,MALE,BLACK,1956-05-03,SOUTH CAROLINA,UNKNOWN,BORN IN U.S.,SELL SCHEDULE II,BB,1991-10-25,SELL SCHEDULE II,1991,-5.0,1.0
18511,0017615,AA,1976-10-01,KIDNAPPING 2ND DEGREE,EXPIRED,1978-08-08,0001-01-01,INACTIVE,INACTIVE,2006-08-27,DEATH,BA,REGULAR POPULATION RPOP,MALE,BLACK,1950-04-19,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,KIDNAPPING 2ND DEGREE,BA,1976-10-01,ROBBERY W/DANGEROUS WEAPON,1976,-2.0,1.0
18929,0017945,AA,1976-09-29,ARMED ROBBERY,EXPIRED,1977-08-29,0001-01-01,INACTIVE,INACTIVE,2004-11-09,TERMINATED PAROLE,BA,REGULAR POPULATION RPOP,MALE,BLACK,1947-07-12,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ARMED ROBBERY,BA,1976-09-29,ARMED ROBBERY,1976,-1.0,1.0
20509,0019397,AA,1976-08-12,MANSLAUGHTER,EXPIRED,1977-07-08,0001-01-01,INACTIVE,INACTIVE,1982-04-21,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,FEMALE,BLACK,1942-12-18,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,MANSLAUGHTER,AB,1976-08-12,MANSLAUGHTER,1976,-1.0,1.0
21308,0020009,AB,1977-06-30,ARMED ROBBERY,EXPIRED,1978-03-29,0001-01-01,INACTIVE,INACTIVE,1996-09-05,TERMINATED PAROLE,BA,REGULAR POPULATION RPOP,MALE,BLACK,1933-01-22,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ARMED ROBBERY,BA,1977-06-30,HABITUAL IMPAIRED DRIVING,1977,-1.0,1.0
21504,0020188,BA,1992-07-08,MISD B&E,EXPIRED,1998-02-28,1998-06-19,INACTIVE,INACTIVE,2001-07-16,EXPIRATION,BB,REGULAR POPULATION RPOP,MALE,BLACK,1959-05-25,NORTH CAROLINA,AFRICAN,BORN IN U.S.,FELONY B&E,BB,1996-08-05,FORGERY,1996,-2.0,1.0
21838,0020480,AA,1973-10-25,ROBBERY W/DANGEROUS WEAPON,EXPIRED,1974-06-05,0001-01-01,INACTIVE,INACTIVE,1998-11-23,TERMINATED PAROLE,BA,REGULAR POPULATION RPOP,MALE,BLACK,1949-11-13,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ROBBERY W/DANGEROUS WEAPON,BA,1973-10-25,ARMED ROBBERY,1973,-1.0,1.0
22464,0021037,AA,1972-11-14,KIDNAPPING 2ND DEGREE,EXPIRED,1973-04-28,0001-01-01,INACTIVE,INACTIVE,1996-09-06,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1954-10-08,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,KIDNAPPING 2ND DEGREE,AB,1972-11-14,KIDNAPPING 2ND DEGREE,1972,-1.0,1.0
22555,0021092,AA,1976-03-11,ROBBERY W/DANGEROUS WEAPON,EXPIRED,1977-02-18,0001-01-01,INACTIVE,INACTIVE,1981-12-07,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,BLACK,1956-12-08,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,ROBBERY W/DANGEROUS WEAPON,AB,1976-03-10,ARMED ROBBERY,1976,-1.0,1.0
22715,0021232,AA,1977-06-24,RAPE AND KINDRED OFFENSES,EXPIRED,1978-07-20,0001-01-01,INACTIVE,INACTIVE,2005-09-26,TERMINATED PAROLE,BA,REGULAR POPULATION RPOP,MALE,BLACK,1958-09-12,SOUTH CAROLINA,UNKNOWN,BORN IN U.S.,RAPE AND KINDRED OFFENSES,BA,1977-06-24,KIDNAPPING 2ND DEGREE,1977,-1.0,1.0
23012,0021485,BA,1993-07-29,FORGERY,EAR.TERM,1996-02-07,1996-02-07,INACTIVE,INACTIVE,2019-05-15,TERMINATED PAROLE,BC,REGULAR POPULATION RPOP,MALE,BLACK,1962-03-28,NORTH CAROLINA,AFRICAN,BORN IN U.S.,LARCENY (OVER $200),BB,1995-09-26,OBT PROP BY FALSE PR/CHTS/SER,1995,-1.0,1.0
23130,0021570,AE,1985-09-03,MISD B&E,EXPIRED,1986-03-08,1986-03-12,INACTIVE,INACTIVE,2007-05-15,EXPIRATION,BE,REGULAR POPULATION RPOP,MALE,BLACK,1957-03-10,NORTH CAROLINA,AFRICAN,BORN IN U.S.,MISD B&E,BA,1985-09-03,MURDER SECOND DEGREE,1985,-1.0,1.0
23397,0021808,AC,1973-06-29,OTHER FELON,EXPIRED,1973-08-13,0001-01-01,INACTIVE,INACTIVE,2004-10-26,EXPIRATION,BB,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-08,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,OTHER FELON,AD,1972-10-11,LARCENY AND RECEIVING,1972,-1.0,1.0
23561,0021984,AC,1977-04-15,FELONY B&E,EXPIRED,1978-01-08,0001-01-01,INACTIVE,INACTIVE,2012-06-04,EXPIRATION,BB,REGULAR POPULATION RPOP,MALE,WHITE,1955-10-03,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,FELONY B&E,AD,1977-04-15,FELONY B&E,1977,-1.0,1.0
23723,0022128,BA,1992-06-05,ARMED ROBBERY,EAR.TERM,1998-05-01,9999-01-03,ACTIVE,ACTIVE,2015-08-27,RECEIVED FROM,BB,REGULAR POPULATION RPOP,MALE,INDIAN,1970-12-19,NORTH CAROLINA,AMERICAN INDIAN,BORN IN U.S.,MURDER FIRST DEGREE,BB,1992-06-05,MURDER FIRST DEGREE,1992,-6.0,1.0
24440,0022759,AB,1994-11-30,MISD B&E,EXPIRED,1995-04-01,1995-04-01,INACTIVE,INACTIVE,2015-11-05,TERMINATED PAROLE,BB,REGULAR POPULATION RPOP,MALE,BLACK,1971-04-30,NORTH CAROLINA,AFRICAN,BORN IN U.S.,MISD B&E,BA,1992-12-14,KIDNAPPING 2ND DEGREE,1992,-3.0,1.0
24600,0022963,AA,1972-09-28,OTHER FELON,EXPIRED,1973-03-21,0001-01-01,INACTIVE,INACTIVE,1987-01-01,EXPIRATION,None,REGULAR POPULATION RPOP,MALE,BLACK,1950-10-12,None,UNKNOWN,BORN IN U.S.,OTHER FELON,AB,1972-09-28,ROBBERY W/DANGEROUS WEAPON,1972,-1.0,1.0
24714,0023090,AA,1977-11-23,ARMED ROBBERY,EXPIRED,1978-08-17,0001-01-01,INACTIVE,INACTIVE,1998-07-18,EXPIRATION,BA,REGULAR POPULATION RPOP,MALE,BLACK,1953-07-11,VIRGINIA,UNKNOWN,BORN IN U.S.,ARMED ROBBERY,AB,1977-11-22,ARMED ROBBERY,1977,-1.0,1.0

In [27]:
dataset_flag_small = dataset_flag.head(1000)
dataset_flag_small.head()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff,Recidivate
0,0000004,AA,1983-07-12,SELL SCHEDULE II,EXPIRED,1984-07-11,1984-07-11,INACTIVE,INACTIVE,1984-07-11,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1961-10-15,ALASKA,UNKNOWN,BORN IN U.S.,SELL SCHEDULE II,0,NaT,0,0,NaN,0.0
1,0000006,AA,1973-01-30,WORTHLESS CHECK,EXPIRED,1973-03-28,0001-01-01,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,WORTHLESS CHECK,AB,1973-04-11,WORTHLESS CHECK,1973,0.0,1.0
2,0000006,AB,1973-04-11,WORTHLESS CHECK,EXPIRED,1975-08-18,1974-08-10,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,WORTHLESS CHECK,0,NaT,0,0,NaN,0.0
3,0000008,AA,1990-04-09,DWI DRIVING WHILE IMPAIRED,EXPIRED,1990-05-17,1990-10-09,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,DWI DRIVING WHILE IMPAIRED,AB,1993-08-30,HABITUAL IMPAIRED DRIVING,1993,3.0,0.0
4,0000008,AB,1993-08-30,HABITUAL IMPAIRED DRIVING,EXPIRED,1994-01-26,1994-02-18,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,HABITUAL IMPAIRED DRIVING,BA,1995-01-02,HABITUAL IMPAIRED DRIVING,1995,1.0,1.0

In [46]:
conn = sqlite3.connect(':memory:')
disc_infraction.to_sql('disc_infraction', conn, index=False)
dataset_flag_small.to_sql('dataset_flag_small', conn, index=False)

query = '''
        SELECT INMATE_DOC_NUMBER as ID,
                DISCIPLINARY_INFRACTION_DATE,
                COMMITMENT_PREFIX,
                EARLIEST_SENTENCE_EFFECTIVE_DT,
                END_DATE,
                COUNT(DISCIPLINARY_INFRACTION_DATE) as INFRACTION_PER_SENT
        FROM disc_infraction A
        INNER JOIN dataset_flag_small B
        WHERE A.INMATE_DOC_NUMBER = B.ID
        AND A.DISCIPLINARY_INFRACTION_DATE >= B.EARLIEST_SENTENCE_EFFECTIVE_DT
        AND A.DISCIPLINARY_INFRACTION_DATE <= B.END_DATE
        GROUP BY INMATE_DOC_NUMBER, COMMITMENT_PREFIX
        ;
        
        '''
test = qd.query_db_notebook(conn,query)

conn.close

In [49]:
#dataset_flag_small.head(20)

In [50]:
#disc_infraction.head(20)

In [51]:
test.head(40)

,ID,DISCIPLINARY_INFRACTION_DATE,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,END_DATE,INF_PER_COM
0,0000010,1975-07-26,AA,1975-06-11 00:00:00,1977-03-17 00:00:00,11
1,0000010,1975-07-26,AB,1975-06-11 00:00:00,1983-06-27 00:00:00,15
2,0000026,1983-09-26,AA,1983-07-18 00:00:00,1984-09-09 00:00:00,3
3,0000031,1974-05-11,AA,1971-08-13 00:00:00,1981-11-02 00:00:00,2
4,0000033,1985-05-27,AD,1984-02-02 00:00:00,1990-05-26 00:00:00,2
5,0000033,1997-09-24,BA,1995-06-22 00:00:00,2009-09-02 00:00:00,9
6,0000035,1992-06-03,BA,1991-09-16 00:00:00,1997-05-20 00:00:00,13
7,0000035,1999-06-17,BB,1999-03-03 00:00:00,1999-12-28 00:00:00,10
8,0000035,2001-07-18,BC,2001-01-16 00:00:00,2011-11-29 00:00:00,164
9,0000037,2010-01-12,BA,2009-10-05 00:00:00,2010-02-19 00:00:00,5
10,0000039,1981-06-14,AA,1981-02-17 00:00:00,1982-05-07 00:00:00,1
11,0000050,1974-10-21,AA,1974-09-03 00:00:00,1977-07-22 00:00:00,1
12,0000054,1978-08-15,AA,1978-07-14 00:00:00,1980-05-06 00:00:00,1
13,0000071,1993-01-30,BA,1992-09-17 00:00:00,1997-06-22 00:00:00,4
14,0000073,1982-07-18,AA,1982-07-01 00:00:00,1984-04-19 00:00:00,2
15,0000075,1969-01-14,AA,1968-11-19 00:00:00,1990-08-20 00:00:00,1
16,0000078,1980-09-27,AB,1977-10-12 00:00:00,1982-01-12 00:00:00,1
17,0000080,1996-01-24,BA,1985-11-04 00:00:00,2261-01-02 00:00:00,1
18,0000081,1977-03-06,AA,1976-11-16 00:00:00,1977-04-10 00:00:00,1
19,0000087,1990-02-21,AA,1989-05-30 00:00:00,1991-02-17 00:00:00,2
20,0000104,1982-07-17,AA,1982-06-30 00:00:00,1988-12-27 00:00:00,8
21,0000114,2001-08-20,BA,2001-07-02 00:00:00,2002-03-15 00:00:00,6
22,0000114,2002-10-25,BB,2002-07-22 00:00:00,2003-06-11 00:00:00,5
23,0000115,1990-02-05,AA,1989-11-30 00:00:00,1990-08-02 00:00:00,1
24,0000118,1986-04-12,AB,1986-03-10 00:00:00,1988-06-07 00:00:00,4
25,0000121,1982-06-04,AA,1981-12-15 00:00:00,1988-09-21 00:00:00,4
26,0000130,1993-10-15,BA,1993-07-21 00:00:00,1995-09-21 00:00:00,2
27,0000133,1992-11-08,BA,1992-09-08 00:00:00,2009-09-08 00:00:00,64
28,0000142,1987-04-09,AA,1987-03-18 00:00:00,1987-09-15 00:00:00,2
29,0000142,1988-12-05,AB,1988-08-01 00:00:00,1990-04-17 00:00:00,2
30,0000147,1979-04-15,AA,1979-01-25 00:00:00,1981-02-25 00:00:00,1
31,0000147,1981-09-03,AB,1981-04-23 00:00:00,1983-08-11 00:00:00,4
32,0000149,1981-08-02,AA,1980-10-15 00:00:00,1983-05-19 00:00:00,2
33,0000156,1996-04-09,BA,1995-03-15 00:00:00,1996-05-14 00:00:00,5
34,0000164,1989-07-10,AA,1989-02-07 00:00:00,1989-08-07 00:00:00,1
35,0000167,1987-01-08,AA,1986-08-29 00:00:00,1993-05-14 00:00:00,18
36,0000167,1996-12-08,BA,1996-08-14 00:00:00,2261-01-02 00:00:00,49
37,0000170,1976-01-14,AA,1975-10-08 00:00:00,1979-04-27 00:00:00,2
38,0000171,1986-11-29,AA,1986-10-20 00:00:00,1989-12-10 00:00:00,2
39,0000181,1994-03-14,BA,1986-12-08 00:00:00,1996-03-15 00:00:00,3

In [54]:
# Divide infractions by # of sentences if there are dups on ID / DISCIPLINARY_INFRACTION_DATE
    # might indicate concurrent sentences
count_dups = test.groupby(['ID','DISCIPLINARY_INFRACTION_DATE'])["ID"].count().reset_index(name="count")
test = test.merge(count_dups, how = 'left')
#test.groupby(['ID','DISCIPLINARY_INFRACTION_DATE']).transform('count')

In [55]:
test.head()

,ID,DISCIPLINARY_INFRACTION_DATE,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,END_DATE,INF_PER_COM,count
0,0000010,1975-07-26,AA,1975-06-11 00:00:00,1977-03-17 00:00:00,11,2
1,0000010,1975-07-26,AB,1975-06-11 00:00:00,1983-06-27 00:00:00,15,2
2,0000026,1983-09-26,AA,1983-07-18 00:00:00,1984-09-09 00:00:00,3,1
3,0000031,1974-05-11,AA,1971-08-13 00:00:00,1981-11-02 00:00:00,2,1
4,0000033,1985-05-27,AD,1984-02-02 00:00:00,1990-05-26 00:00:00,2,1

In [56]:
test['INF_PER_COM'] = round(test['INF_PER_COM']/test['count'])

In [57]:
test.head()

,ID,DISCIPLINARY_INFRACTION_DATE,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,END_DATE,INF_PER_COM,count
0,0000010,1975-07-26,AA,1975-06-11 00:00:00,1977-03-17 00:00:00,6.0,2
1,0000010,1975-07-26,AB,1975-06-11 00:00:00,1983-06-27 00:00:00,8.0,2
2,0000026,1983-09-26,AA,1983-07-18 00:00:00,1984-09-09 00:00:00,3.0,1
3,0000031,1974-05-11,AA,1971-08-13 00:00:00,1981-11-02 00:00:00,2.0,1
4,0000033,1985-05-27,AD,1984-02-02 00:00:00,1990-05-26 00:00:00,2.0,1

In [23]:
# Part E - querying additional features
conn = create_connection(config.database_name)
dataset_flag.to_sql('dataset_AB', conn, index=False)
query_disc_infraction = '''
                    SELECT INMATE_DOC_NUMBER as ID,
                            COUNT(*) as DISCIPLINARY_INFRACTION_COUNT                            
                    FROM INMT9CF1
                    GROUP BY INMATE_DOC_NUMBER;
                    '''
query_disc_infraction = '''
                    SELECT *                           
                    FROM INMT9CF1
                    LIMIT 100;
                    '''


disc_infraction = qd.query_db_notebook(conn,query_disc_infraction)

conn.close

In [ ]:
# Part F
# Step 5
# Hold out active senteces
print("Hold out active sentences")
active_sentences = dataset_flag[(dataset_flag['INMATE_ADMIN_STATUS_CODE']=='ACTIVE') & (dataset_flag['NextPrefix']==0)]
print("Size of active sentences dataset: ",active_sentences.shape[0])

# Step 6
# drop observations with no recidivism flag (this will also drop active sentences, but we've already separated those)
print("Drop observations with no recidivism flag (this will also drop active sentences, but we've already separated those)")
print("Additional observations dropped are mostly of those who died in prison and therefore wont have a recidivate flag")
dataset_flag = dataset_flag[(dataset_flag['Recidivate'].notnull())]
print("Size of remaining dataset: ",dataset_flag.shape[0])

# Step 7
# Bring in coded offenses - sanity check

# this merges our coded offenses onto "most serious offense" to check how much coverage
# our variable is giving us. however, this not what we ultimately want - in the end, we want
# our codes to be merged onto "nextOffense" - i.e., the offense code for the next offense 
# someone committed that resulted in re-incarceration
# NextOffense can be missing for 2 reasons: because most serious offense is missing, or because
# the individual did not recidivate. after merging our codes onto "NextOffense", we can replace
# "Decided Category" with 0 if recidivism = 0, and leave it as NA otherwise
#dataset_with_offenses_test = dataset_flag.merge(coded_offenses, how='left', left_on='MOST_SERIOUS_OFFENSE_CODE', right_on='Primary offense code')

# Step 8 and 9
# Now, merge on coded offenses onto NextOffense, turn Decided Category, More Lenient, and more harsh = 0 if recidivism = 0
print("Merging on our coded categories")
dataset_with_offenses = dataset_flag.merge(coded_offenses, how='left', left_on='NextOffense', right_on='Primary offense code')
dataset_with_offenses.loc[dataset_with_offenses['Recidivate']==0,'Decided Category'] = 0
dataset_with_offenses.loc[dataset_with_offenses['Recidivate']==0,'More lenient'] = 0
dataset_with_offenses.loc[dataset_with_offenses['Recidivate']==0,'More harsh'] = 0

print("% missing decided category",dataset_with_offenses['Decided Category'].isnull().sum()/dataset_with_offenses.shape[0])

# Drop those missing decided category
dataset_with_offenses = dataset_with_offenses[(dataset_with_offenses['Decided Category'].notnull())]
print("Final dataset size: " , dataset_with_offenses.shape[0])

## Charmaine's WIP code

To-do:
1. Check the number of unique primary offense codes for every combination of ID and COMMITMENT_PREFIX
2. Check what is going on with the 9999999 values in MINIMUM_SENTENCE_LENGTH
3. Spot check IDs in court commitment data to compare most serious offense

In [336]:
# Now that the most serious offenses have been selected, i'm rerunning the code using the output of the 
# sql query so eventually we wont need intermediate datasets
dataset_A = data.copy()
dataset_B = sent_comp_small.copy()

In [337]:
# Import CSVs
import pandas as pd

#dataset_A = pd.read_csv('../data/datasetA_court_sentcomp.csv')
#dataset_B = pd.read_csv('../data/datasetB_sentcomponent_only_incarcerated.csv')

In [338]:
dataset_A.head()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT
0,0000004,AA,1983-07-12,None,EXPIRED,1984-07-11,1984-07-11,INACTIVE,INACTIVE,1984-07-11,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1961-10-15,ALASKA,UNKNOWN,BORN IN U.S.,NaN
1,0000006,AA,1973-01-30,None,EXPIRED,1973-03-28,0001-01-01,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
2,0000006,AB,1973-04-11,None,EXPIRED,1975-08-18,1974-08-10,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
3,0000008,AA,1990-04-09,None,EXPIRED,1990-05-17,1990-10-09,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
4,0000008,AB,1993-08-30,None,EXPIRED,1994-01-26,1994-02-18,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN

In [339]:
dataset_A.columns

Index(['ID', 'COMMITMENT_PREFIX', 'EARLIEST_SENTENCE_EFFECTIVE_DT',
       'MOST_SERIOUS_OFFENSE_CODE', 'INMATE_COMPUTATION_STATUS_FLAG',
       'END_DATE', 'PROJ_END_DATE', 'INMATE_RECORD_STATUS_CODE',
       'INMATE_ADMIN_STATUS_CODE', 'DATE_OF_LAST_INMATE_MOVEMENT',
       'TYPE_OF_LAST_INMATE_MOVEMENT', 'CURRENT_COMMITMENT_PREFIX',
       'CONTROL_STATUS', 'GENDER', 'RACE', 'BIRTH_DATE', 'STATE_BORN',
       'ETHNICITY', 'CITIZENSHIP', 'DISCIPLINARY_INFRACTION_COUNT'],
      dtype='object')

Note that dataset A is unique on `ID` and `COMMITMENT_PREFIX`.

In [340]:
dataset_B.head()

,ID,COMMITMENT_PREFIX,SENTENCE_COMPONENT_NUMBER,PRIMARY_OFFENSE_CODE,PRIMARY_FELONYMISDEMEANOR_CD,SENTENCING_PENALTY_CLASS_CODE,PRIOR_RECORD_LEVEL_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH,SENTENCE_TYPE_CODE,COUNTY_OF_CONVICTION_CODE
0,0000004,AA,001,SELL SCHEDULE II,FELON,CLASS H,None,0000000,0030000,DEPT OF CORR DIV OF PRISONS,PERQUIMANS
1,0000004,AA,002,SELL SCHEDULE II,FELON,CLASS H,None,0000000,0030000,DEPT OF CORR DIV OF PRISONS,PERQUIMANS
2,0000006,AA,001,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000060,0000090,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
3,0000006,AB,001,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
4,0000006,AB,002,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND

In [341]:
dataset_B.columns

Index(['ID', 'COMMITMENT_PREFIX', 'SENTENCE_COMPONENT_NUMBER',
       'PRIMARY_OFFENSE_CODE', 'PRIMARY_FELONYMISDEMEANOR_CD',
       'SENTENCING_PENALTY_CLASS_CODE', 'PRIOR_RECORD_LEVEL_CODE',
       'MINIMUM_SENTENCE_LENGTH', 'MAXIMUM_SENTENCE_LENGTH',
       'SENTENCE_TYPE_CODE', 'COUNTY_OF_CONVICTION_CODE'],
      dtype='object')

In [342]:
dataset_A.shape

(903181, 20)

In [343]:
dataset_B.shape

(1728836, 11)

In [344]:
# Check how many unique ID and COMMITMENT_PREFIX combinations there are
grouped = dataset_B.groupby(['ID', 'COMMITMENT_PREFIX'])
total_combinations = grouped.ngroups
print(total_combinations)

891122

There are 891,122 unique ID and COMMITMENT_PREFIX combinations. This is the total we're working with. Note that this is smaller than the number of rows in dataset A

In [345]:
# Find the ID / COMMITMENT_PREFIX combinations that have the maximum MINIMUM_SENTENCE_LENGTH
# We will use these combinations to filter dataset_B for PRIMARY_OFFENSE_CODE
# Note: These might not be unique

min_sentence = pd.DataFrame(dataset_B.groupby(['ID', 'COMMITMENT_PREFIX'])['MINIMUM_SENTENCE_LENGTH'].max().reset_index(name='max_min'))
min_sentence.head(10)

        ID COMMITMENT_PREFIX  max_min
0  0000004                AA  0000000
1  0000006                AA  0000060
2  0000006                AB  0000030
3  0000008                AA  0010000
4  0000008                AB  0000000
5  0000008                BA  0000000
6  0000010                AA  0000000
7  0000010                AB  0200000
8  0000014                AA  0001800
9  0000014                AB  0000600

In [346]:
# Check to make sure we're not accidentally dropping any rows
min_sentence.groupby(['ID', 'COMMITMENT_PREFIX']).ngroups

891122

In [347]:
# Filter dataset_B to only these rows
filter_tuples = [tuple(x) for x in min_sentence.to_numpy()]

filtered_B = dataset_B[dataset_B[['ID', 'COMMITMENT_PREFIX', 'MINIMUM_SENTENCE_LENGTH']].apply(tuple, axis=1).isin(filter_tuples)]
filtered_B.head(10)

,ID,COMMITMENT_PREFIX,SENTENCE_COMPONENT_NUMBER,PRIMARY_OFFENSE_CODE,PRIMARY_FELONYMISDEMEANOR_CD,SENTENCING_PENALTY_CLASS_CODE,PRIOR_RECORD_LEVEL_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH,SENTENCE_TYPE_CODE,COUNTY_OF_CONVICTION_CODE
0,0000004,AA,001,SELL SCHEDULE II,FELON,CLASS H,None,0000000,0030000,DEPT OF CORR DIV OF PRISONS,PERQUIMANS
1,0000004,AA,002,SELL SCHEDULE II,FELON,CLASS H,None,0000000,0030000,DEPT OF CORR DIV OF PRISONS,PERQUIMANS
2,0000006,AA,001,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000060,0000090,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
3,0000006,AB,001,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
4,0000006,AB,002,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
5,0000006,AB,003,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
6,0000006,AB,004,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
7,0000006,AB,005,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
8,0000006,AB,006,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
9,0000006,AB,007,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND

In [348]:
# Check to make sure we're not accidentally dropping any rows
filtered_B.groupby(['ID', 'COMMITMENT_PREFIX']).ngroups

891122

Based on the sample of observations above, there are quite a few ties, but it might be that they are all of the same PRIMARY_OFFENSE_CODE (e.g., rows 3-9). 

I will check how many unique primary offense codes there are for every ID and COMMITMENT_PREFIX combination.

In [349]:
count_nunique_offenses = pd.DataFrame(filtered_B.groupby(['ID', 'COMMITMENT_PREFIX'])['PRIMARY_OFFENSE_CODE'].nunique().reset_index(name='count'))
count_nunique_offenses['count'].describe()

count    891122.000000
mean          1.199647
std           0.547120
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max          12.000000
Name: count, dtype: float64

In [350]:
count_nunique_offenses.head(5)

        ID COMMITMENT_PREFIX  count
0  0000004                AA      1
1  0000006                AA      1
2  0000006                AB      1
3  0000008                AA      1
4  0000008                AB      1

In [351]:
# Pull out the ID / COMMITMENT_PREFIX combinations that are unique on max(MINIMUM_SENTENCE_LENGTH)
unique_min_filter = [tuple(x) for x in count_nunique_offenses[count_nunique_offenses['count'] == 1][['ID', 'COMMITMENT_PREFIX']].to_numpy()]
nonunique_min_filter = [tuple(x) for x in count_nunique_offenses[count_nunique_offenses['count'] != 1][['ID', 'COMMITMENT_PREFIX']].to_numpy()]

cols_to_keep = ['ID', 'COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE','MINIMUM_SENTENCE_LENGTH', 'MAXIMUM_SENTENCE_LENGTH']

filtered_B_min_unique = filtered_B[filtered_B[['ID','COMMITMENT_PREFIX']].apply(tuple, axis=1).isin(unique_min_filter)][cols_to_keep]
filtered_B_min_unique.head()

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH
0,0000004,AA,SELL SCHEDULE II,0000000,0030000
1,0000004,AA,SELL SCHEDULE II,0000000,0030000
2,0000006,AA,WORTHLESS CHECK,0000060,0000090
3,0000006,AB,WORTHLESS CHECK,0000030,0000000
4,0000006,AB,WORTHLESS CHECK,0000030,0000000

In [352]:
# Drop duplicate rows from filtered_B_min_unique (we know that they all have the same PRIMARY_OFFENSE_CODE)
# Note: This method keeps the first observation, but again, this shouldn't matter
filtered_B_min_unique.drop_duplicates(subset=['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE'],inplace=True)
filtered_B_min_unique.head()

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH
0,0000004,AA,SELL SCHEDULE II,0000000,0030000
2,0000006,AA,WORTHLESS CHECK,0000060,0000090
3,0000006,AB,WORTHLESS CHECK,0000030,0000000
30,0000008,AA,DWI DRIVING WHILE IMPAIRED,0010000,0010000
31,0000008,AB,HABITUAL IMPAIRED DRIVING,0000000,0010000

In [353]:
filtered_B_min_unique.shape

(756670, 5)

In [354]:
# Check if there are duplicates
filtered_B_min_unique[filtered_B_min_unique.duplicated(subset=['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE'])]

Empty DataFrame
Columns: [ID, COMMITMENT_PREFIX, PRIMARY_OFFENSE_CODE, MINIMUM_SENTENCE_LENGTH, MAXIMUM_SENTENCE_LENGTH]
Index: []

In [355]:
grouped_by_min = filtered_B_min_unique.groupby(['ID', 'COMMITMENT_PREFIX'])
print("Number of ID / COMMITMENT_PREFIX combinations that are unique on max(MINIMUM_SENTENCE_LENGTH):", 
      grouped_by_min.ngroups)

Number of ID / COMMITMENT_PREFIX combinations that are unique on max(MINIMUM_SENTENCE_LENGTH): 756669

In [356]:
756669 / total_combinations

0.849119424725234

In [357]:
total_combinations - 756669

134453

#### Main takeaway:
84 percent (756,669) of `ID` and `COMMITMENT_PREFIX` combinations have a single PRIMARY_OFFENSE_CODE for the `max(MINIMUM_SENTENCE_LENGTH)`. The remaining 16 percent (134,453) have more than one `PRIMARY_OFFENSE_CODE` after filtering to `max(MINIMUM_SENTENCE_LENGTH)`. It is these 16 percent that we need to further filter by `MAXIMUM_SENTENCE_LENGTH` and then, if needed, by random selection.

In [358]:
filtered_B_min_nonunique = filtered_B[filtered_B[['ID','COMMITMENT_PREFIX']].apply(tuple, axis=1).isin(nonunique_min_filter)][cols_to_keep]
filtered_B_min_nonunique.head()

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH
41,0000019,AA,MISD B&E,0002400,0002400
42,0000019,AA,LARCENY (OVER $200),0002400,0002400
45,0000020,BA,FELONY B&E,0000000,0100000
46,0000020,BA,B & E & L,0000000,0100000
47,0000020,BA,FELONY B&E,0000000,0060000

We have some odd observations where the primary offense is a felony, but MINIMUM_SENTENCE_LENGTH is 0 and MAXIMUM_SENTENCE_LENGTH > 0 (e.g., index 45-47)

In [359]:
grouped_by_max = filtered_B_min_nonunique.groupby(['ID', 'COMMITMENT_PREFIX'])
print("Number of ID / COMMITMENT_PREFIX combinations that are NOT unique on max(MINIMUM_SENTENCE_LENGTH):", 
      grouped_by_max.ngroups)

Number of ID / COMMITMENT_PREFIX combinations that are NOT unique on max(MINIMUM_SENTENCE_LENGTH): 134453

In [360]:
# Check the numbers are adding up
print("Do the numbers add up?", 134453 + 756669 == total_combinations)

Do the numbers add up? True

There are 134,453 `ID` and `COMMITMENT_PREFIX` combinations that have more than one unique PRIMARY_OFFENSE_CODE after filtering by `MINIMUM_SENTENCE_LENGTH`. Filter by `MAXIMUM_SENTENCE_LENGTH`...

In [361]:
find_max_max = pd.DataFrame(filtered_B_min_nonunique.groupby(['ID', 'COMMITMENT_PREFIX'])['MAXIMUM_SENTENCE_LENGTH'].max().reset_index(name='max_max'))
find_max_max.head()

        ID COMMITMENT_PREFIX  max_max
0  0000019                AA  0002400
1  0000020                BA  0100000
2  0000033                AD  0180000
3  0000035                BA  0080000
4  0000049                AC  0060000

In [362]:
by_max_tuples = [tuple(x) for x in find_max_max.to_numpy()]
filtered_B_max = filtered_B_min_nonunique[filtered_B_min_nonunique[['ID', 'COMMITMENT_PREFIX', 'MAXIMUM_SENTENCE_LENGTH']].apply(tuple, axis=1).isin(by_max_tuples)]
filtered_B_max.head()

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH
41,0000019,AA,MISD B&E,0002400,0002400
42,0000019,AA,LARCENY (OVER $200),0002400,0002400
45,0000020,BA,FELONY B&E,0000000,0100000
46,0000020,BA,B & E & L,0000000,0100000
74,0000033,AD,ROBBERY W/DANGEROUS WEAPON,0000000,0180000

In [364]:
count_offenses_by_max = pd.DataFrame(filtered_B_max.groupby(['ID', 'COMMITMENT_PREFIX'])['PRIMARY_OFFENSE_CODE'].nunique().reset_index(name='count'))
count_offenses_by_max.head()

        ID COMMITMENT_PREFIX  count
0  0000019                AA      2
1  0000020                BA      2
2  0000033                AD      1
3  0000035                BA      1
4  0000049                AC      1

In [365]:
# Pull out the ID and COMMITMENT_PREFIX tuples in FILTERED_B_MT1 where there is a unique PRIMARY_OFFENSE_CODE
# after looking at the maximum of MAXIMUM_SENTENCE_LENGTH
unique_max = count_offenses_by_max[count_offenses_by_max['count'] == 1][['ID', 'COMMITMENT_PREFIX']]
unique_max_filter = [tuple(x) for x in unique_max.to_numpy()]

filtered_B_max_unique = filtered_B_max[filtered_B_max[['ID', 'COMMITMENT_PREFIX']].apply(tuple, axis=1).isin(unique_max_filter)]
filtered_B_max_unique.head()

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH
74,0000033,AD,ROBBERY W/DANGEROUS WEAPON,0000000,0180000
83,0000035,BA,FELONY B&E,0000000,0080000
103,0000049,AC,INDECENT LIBERTY W/CHILD,0000000,0060000
121,0000064,AA,MISD B&E,0000000,0020000
134,0000071,BA,POSSESS WITS SCHEDULE II,0000000,0100000

In [366]:
# Drop duplicate rows from filtered_B_max_unique (we know that they all have the same PRIMARY_OFFENSE_CODE)
# Note: This method keeps the first observation, but again, this shouldn't matter
filtered_B_max_unique.drop_duplicates(subset=['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE'],inplace=True)
filtered_B_max_unique.head()

/Users/daminisharma/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH
74,0000033,AD,ROBBERY W/DANGEROUS WEAPON,0000000,0180000
83,0000035,BA,FELONY B&E,0000000,0080000
103,0000049,AC,INDECENT LIBERTY W/CHILD,0000000,0060000
121,0000064,AA,MISD B&E,0000000,0020000
134,0000071,BA,POSSESS WITS SCHEDULE II,0000000,0100000

In [367]:
filtered_B_max_unique.shape

(67052, 5)

In [368]:
# Check if there are duplicates
filtered_B_max_unique[filtered_B_max_unique.duplicated(subset=['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE'])]

Empty DataFrame
Columns: [ID, COMMITMENT_PREFIX, PRIMARY_OFFENSE_CODE, MINIMUM_SENTENCE_LENGTH, MAXIMUM_SENTENCE_LENGTH]
Index: []

In [369]:
grouped_by_max = filtered_B_max_unique.groupby(['ID', 'COMMITMENT_PREFIX'])
print("Number of ID / COMMITMENT_PREFIX combinations that are unique on max(MAXIMUM_SENTENCE_LENGTH):", 
      grouped_by_max.ngroups)

Number of ID / COMMITMENT_PREFIX combinations that are unique on max(MAXIMUM_SENTENCE_LENGTH): 67052

In [370]:
# Check how much ground the first two filters cover:
n_min_unique = 756669
n_max_unique = 67052
print("Combinations so far:", n_min_unique + n_max_unique)
(n_min_unique + n_max_unique) / total_combinations

Combinations so far: 823721

0.9243638918127933

#### Now we have the first two of three dataframes we need, which gets us 92 percent of the combinations:
1. `ID` / `COMMITMENT_PREFIX` combinations that are unique on max`(MINIMUM_SENTENCE_LENGTH)`:
filtered_B_min_unique, with 756,669 combinations
2. `ID` / `COMMITMENT_PREFIX` combinations that are NOT unique on max`(MINIMUM_SENTENCE_LENGTH)` but are unique on max`(MAXIMUM_SENTENCE_LENGTH)`: filtered_B_max_unique, with 67,052 combinations

The last one is:
3. `ID` / `COMMITMENT_PREFIX` combinations that are NOT unique on max`(MINIMUM_SENTENCE_LENGTH)` or on max`(MAXIMUM_SENTENCE_LENGTH)`, so we choose randomly from the `PRIMARY_OFFENSE_CODES` remaining after the second filter.

But before we run the final filter, concatenate the first two dataframes and merge with dataset A.

In [371]:
concat_1_2 = filtered_B_min_unique.append(filtered_B_max_unique)
concat_1_2.shape

(823722, 5)

In [372]:
check_primary_offense_match = pd.merge(concat_1_2, dataset_A, on=['ID','COMMITMENT_PREFIX'])
check_primary_offense_match.head()

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT
0,0000004,AA,SELL SCHEDULE II,0000000,0030000,1983-07-12,None,EXPIRED,1984-07-11,1984-07-11,INACTIVE,INACTIVE,1984-07-11,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1961-10-15,ALASKA,UNKNOWN,BORN IN U.S.,NaN
1,0000006,AA,WORTHLESS CHECK,0000060,0000090,1973-01-30,None,EXPIRED,1973-03-28,0001-01-01,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
2,0000006,AB,WORTHLESS CHECK,0000030,0000000,1973-04-11,None,EXPIRED,1975-08-18,1974-08-10,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
3,0000008,AA,DWI DRIVING WHILE IMPAIRED,0010000,0010000,1990-04-09,None,EXPIRED,1990-05-17,1990-10-09,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
4,0000008,AB,HABITUAL IMPAIRED DRIVING,0000000,0010000,1993-08-30,None,EXPIRED,1994-01-26,1994-02-18,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN

In [373]:
# For observations where MOST_SERIOUS_OFFENSE is not NaN, compare with PRIMARY_OFFENSE_CODE
compare_df = check_primary_offense_match.loc[check_primary_offense_match['MOST_SERIOUS_OFFENSE_CODE'].notna()][['PRIMARY_OFFENSE_CODE', 'MOST_SERIOUS_OFFENSE_CODE']]
compare_df['SAME_CODE'] = (compare_df['PRIMARY_OFFENSE_CODE'] == compare_df['MOST_SERIOUS_OFFENSE_CODE'])
compare_df.sample(10)

            PRIMARY_OFFENSE_CODE MOST_SERIOUS_OFFENSE_CODE  SAME_CODE
447680  POSSESS WITS SCHEDULE II  POSSESS WITS SCHEDULE II       True
401319                FELONY B&E                  MISD B&E      False
665564   TRAFFICKING SCHEDULE II   TRAFFICKING SCHEDULE II       True
797995                FELONY B&E                  MISD B&E      False
471796                   LARCENY                   LARCENY       True
606257        POSSESS SCHEDULE I        POSSESS SCHEDULE I       True
482044   DRUG PARA - USE/POSSESS   DRUG PARA - USE/POSSESS       True
617199           SELL SCHEDULE I           SELL SCHEDULE I       True
622603  POSSESS WITS SCHEDULE II  POSSESS WITS SCHEDULE II       True
454226        COMMON LAW ROBBERY        COMMON LAW ROBBERY       True

In [374]:
(compare_df['SAME_CODE'].sum()) / compare_df.shape[0]

0.9323824972823901

In [375]:
compare_df.shape

(534477, 3)

#### This is good news.

By just filtering on `MINIMUM_SENTENCE_LENGTH` and `MAXIMUM_SENTENCE_LENGTH`, we got a 93 percent match on `PRIMARY_OFFENSE_CODE` and `MOST_SERIOUS_OFFENSE_CODE`.

In [376]:
# Count number of observations with filtered primary offenses (without having to choose randomly)
concat_1_2.shape

(823722, 5)

In [377]:
total_obs = dataset_B.shape[0]
concat_1_2.shape[0] / total_combinations

0.9243650139935946

Filtering on MINIMUM_SENTENCE_LENGTH and MAXIMUM_SENTENCE_LENGTH gets us 92 percent of the way there: now to create the last dataset...

In [378]:
# Apply last filter to get the ID & COMMITMENT_PREFIX combinations that are not unique on either SENTENCE_LENGTH column
nonunique_max = count_offenses_by_max[count_offenses_by_max['count'] != 1][['ID', 'COMMITMENT_PREFIX']]
nonunique_max_filter = [tuple(x) for x in nonunique_max.to_numpy()]

filtered_B_max_nonunique = filtered_B_max[filtered_B_max[['ID', 'COMMITMENT_PREFIX']].apply(tuple, axis=1).isin(nonunique_max_filter)]
filtered_B_max_nonunique.head()

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH
41,0000019,AA,MISD B&E,0002400,0002400
42,0000019,AA,LARCENY (OVER $200),0002400,0002400
45,0000020,BA,FELONY B&E,0000000,0100000
46,0000020,BA,B & E & L,0000000,0100000
140,0000074,AA,SPEEDING FROM POLICE,0000000,0020000

In [379]:
# How many ID and COMMITMENT PREFIXES to sample?
filtered_B_max_nonunique.groupby(['ID', 'COMMITMENT_PREFIX']).ngroups

67401

In [380]:
seed = 1000

to_sample = filtered_B_max_nonunique.groupby(['ID', 'COMMITMENT_PREFIX'])
sampled = to_sample.apply(lambda x: x.sample(n=1, random_state=seed))

In [381]:
sampled = sampled.reset_index(drop=True)
n_min_sampled = sampled.shape[0]

(n_min_unique + n_max_unique + n_min_sampled) / total_combinations
# Why isn't this 100 percent? Did we drop one along the way?

1.0

In [382]:
# Check for duplicates
sampled[sampled.duplicated(subset=['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE'])]

Empty DataFrame
Columns: [ID, COMMITMENT_PREFIX, PRIMARY_OFFENSE_CODE, MINIMUM_SENTENCE_LENGTH, MAXIMUM_SENTENCE_LENGTH]
Index: []

#### One last check: What are the offenses associated with 9999999 minimum sentence lengths?

Based on the grouped dataframe below, most of the offenses are high-risk felonies, so likely equivalent to a life sentence.

In [383]:
pd.DataFrame(dataset_B[dataset_B['MINIMUM_SENTENCE_LENGTH'] == 9999999].groupby('PRIMARY_OFFENSE_CODE').size().reset_index(name='count'))

Empty DataFrame
Columns: [PRIMARY_OFFENSE_CODE, count]
Index: []

I also checked the MAXIMUM_SENTENCE_LENGTH column to see what that looked like: either 9999999 or 0, so that squares with the hypothesis that these are life sentences.

In [384]:
dataset_B[dataset_B['MINIMUM_SENTENCE_LENGTH'] == 9999999]['MAXIMUM_SENTENCE_LENGTH'].unique()

array([], dtype=object)

#### Steps to get here:
* Choosing observations (ID and COMMITMENT_PREFIX combination) based on sentence length:
    * Choose the observation that has the maximum MINIMUM_SENTENCE_LENGTH
    * If there is a tie on MINIMUM_SENTENCE_LENGTH, select observation with the maximum MAXIMUM_SENTENCE_LENGTH 
    * If there is a tie on MAXIMUM_SENTENCE_LENGTH, then choose randomly
* Do not change 9999999 values to NA, since these likely correspond to life-sentences. Check against court commitment data.

In [417]:
# Pulling it all together - get most serious offense code for each id and commitment prefix
#concat_1_2_3 = concat_1_2.append(sampled)
# note - adding in sampled lowered our match rate to 89% so we have decided against
# doing that - will only use the 820k obs we get from using just minimum/maximum length of sentence
# which gives us a 93% match with existing most serious offense code
check_primary_offense_match = pd.merge(concat_1_2, dataset_A, on=['ID','COMMITMENT_PREFIX'])
check_primary_offense_match.head()

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT
0,0000004,AA,SELL SCHEDULE II,0000000,0030000,1983-07-12,None,EXPIRED,1984-07-11,1984-07-11,INACTIVE,INACTIVE,1984-07-11,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1961-10-15,ALASKA,UNKNOWN,BORN IN U.S.,NaN
1,0000006,AA,WORTHLESS CHECK,0000060,0000090,1973-01-30,None,EXPIRED,1973-03-28,0001-01-01,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
2,0000006,AB,WORTHLESS CHECK,0000030,0000000,1973-04-11,None,EXPIRED,1975-08-18,1974-08-10,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
3,0000008,AA,DWI DRIVING WHILE IMPAIRED,0010000,0010000,1990-04-09,None,EXPIRED,1990-05-17,1990-10-09,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
4,0000008,AB,HABITUAL IMPAIRED DRIVING,0000000,0010000,1993-08-30,None,EXPIRED,1994-01-26,1994-02-18,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN

In [418]:
# For observations where MOST_SERIOUS_OFFENSE is not NaN, compare with PRIMARY_OFFENSE_CODE
compare_df = check_primary_offense_match.loc[check_primary_offense_match['MOST_SERIOUS_OFFENSE_CODE'].notna()][['PRIMARY_OFFENSE_CODE', 'MOST_SERIOUS_OFFENSE_CODE']]
compare_df['SAME_CODE'] = (compare_df['PRIMARY_OFFENSE_CODE'] == compare_df['MOST_SERIOUS_OFFENSE_CODE'])
compare_df.sample(10)

,PRIMARY_OFFENSE_CODE,MOST_SERIOUS_OFFENSE_CODE,SAME_CODE
307565,FAIL TO REGISTER (SEX OFFENDER,FAIL TO REGISTER (SEX OFFENDER,True
617938,POSSESSION OF FIREARM BY FELON,POSSESSION OF FIREARM BY FELON,True
119570,POSSESSING STOLEN GOODS,POSSESSING STOLEN GOODS,True
590105,HABITUAL IMPAIRED DRIVING,HABITUAL IMPAIRED DRIVING,True
258954,ARSON 1ST DEGREE,ARSON 1ST DEGREE,True
445027,POSSESSION OF FIREARM BY FELON,POSSESSION OF FIREARM BY FELON,True
738828,CHILD ABUSE ISI,CHILD ABUSE ISI,True
697480,COMMON LAW ROBBERY,COMMON LAW ROBBERY,True
743292,COMMON LAW ROBBERY,COMMON LAW ROBBERY,True
459960,SELL SCHEDULE II,SELL SCHEDULE II,True

In [419]:
(compare_df['SAME_CODE'].sum()) / compare_df.shape[0]

0.9323824972823901

In [420]:
# Final merged version of datasets A and B
dataset_with_most_serious = check_primary_offense_match
dataset_with_most_serious.shape

(823711, 23)

In [421]:
dataset_with_most_serious.sample(10)

,ID,COMMITMENT_PREFIX,PRIMARY_OFFENSE_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT
227745,0247473,AA,FORGERY,0000000,0020000,1985-10-14,None,EXPIRED,1987-05-12,1987-05-12,INACTIVE,INACTIVE,2013-09-20,EXPIRATION,BC,REGULAR POPULATION RPOP,FEMALE,WHITE,1961-06-29,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,4.0
254398,0276042,AA,POSSESSION OF FIREARM BY FELON,0000000,0020000,1986-02-04,None,EXPIRED,1987-06-19,1987-06-19,INACTIVE,INACTIVE,1999-10-29,EXPIRATION,BB,REGULAR POPULATION RPOP,MALE,BLACK,1956-04-04,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
403676,0440652,AB,RECEIVING STOLEN GOODS,0000000,0000601,1983-05-06,RECEIVING STOLEN GOODS,EXPIRED,1983-07-22,1983-07-21,INACTIVE,INACTIVE,2011-05-19,TERMINATED PAROLE,BD,REGULAR POPULATION RPOP,MALE,BLACK,1959-03-03,NORTH CAROLINA,AFRICAN,BORN IN U.S.,31.0
796379,0342558,BC,WILL/WANT INJ REAL PROPERTY,0000000,0000400,2004-12-14,WILL/WANT INJ REAL PROPERTY,EXPIRED,2005-05-07,2005-05-07,INACTIVE,INACTIVE,2006-05-24,EXPIRATION,BD,REGULAR POPULATION RPOP,MALE,BLACK,1976-06-09,NORTH CAROLINA,AFRICAN,BORN IN U.S.,20.0
546419,0692182,BC,POSSESSION OF FIREARM BY FELON,0010300,0020300,2019-01-23,POSSESSION OF FIREARM BY FELON,POST REL,2020-03-01,2020-03-01,PAROLED,INACTIVE,2020-03-01,PAROLE/RETURN TO PAR,BC,REST.HOUS. ADMINISTRATIVE RHAP,MALE,OTHER,1981-07-21,None,HISPANIC/LATINO,NATURALIZED,5.0
290168,0315819,AA,DRIVING UNDER INFLUENCE (DUI),0000600,0000000,1973-08-07,None,EXPIRED,1973-12-13,1973-12-13,INACTIVE,INACTIVE,1973-12-13,EXPIRATION,None,REGULAR POPULATION RPOP,MALE,BLACK,1929-05-05,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN
470164,0544410,BC,POSSESS WITS SCHEDULE VI,0000400,0000500,2010-03-08,POSSESS WITS SCHEDULE VI,EXPIRED,2010-07-16,2010-07-16,ACTIVE,ACTIVE,2020-03-17,RECEIVED FROM,BD,REGULAR POPULATION RPOP,MALE,BLACK,1977-12-25,NORTH CAROLINA,AFRICAN,BORN IN U.S.,16.0
620870,0872118,BA,BURGLARY 1ST DEGREE,0050400,0070200,2007-07-10,BURGLARY 1ST DEGREE,EXPIRED,2012-05-15,2012-05-15,INACTIVE,INACTIVE,2013-02-09,TERMINATED PAROLE,BA,INTENSIVE CONTROL ICON,MALE,BLACK,1988-02-17,KENTUCKY,AFRICAN,BORN IN U.S.,38.0
87199,0094454,BE,FELONY B&E,0001100,0010200,2004-07-27,FELONY B&E,EXPIRED,2006-02-17,2006-02-17,INACTIVE,INACTIVE,2008-09-19,EXPIRATION,BF,REGULAR POPULATION RPOP,MALE,BLACK,1965-12-12,NORTH CAROLINA,AFRICAN,BORN IN U.S.,15.0
570566,0745518,BA,SELL SCHEDULE II,0010100,0010400,2002-10-21,SELL SCHEDULE II,EXPIRED,2003-11-23,2003-11-23,INACTIVE,INACTIVE,2009-03-17,EXPIRATION,BC,REGULAR POPULATION RPOP,MALE,BLACK,1979-07-16,NORTH CAROLINA,AFRICAN,BORN IN U.S.,3.0

In [422]:
# Create a CSV
dataset_with_most_serious.to_csv('../data/most_serious_offenses.csv', index=False)

### Merge on dataset with most serious offense to dataset A before we do the rest of the processing on dataset A

In [ ]:
# Part C: Puts together dataset A and B
datasetB_primary_offense = dataset_with_most_serious.loc[:,['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE']]

print(datasetB_primary_offense.shape)

# merging on datasetA (court commitment + sentence computation) with datasetB ("self constructed" primary offenses from
# sentence component)
data_A_B = data.merge(datasetB_primary_offense, on = ['ID','COMMITMENT_PREFIX'], how='left')

In [423]:
datasetB_primary_offense = dataset_with_most_serious.loc[:,['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE']]

In [424]:
datasetB_primary_offense.head()

        ID COMMITMENT_PREFIX        PRIMARY_OFFENSE_CODE
0  0000004                AA            SELL SCHEDULE II
1  0000006                AA             WORTHLESS CHECK
2  0000006                AB             WORTHLESS CHECK
3  0000008                AA  DWI DRIVING WHILE IMPAIRED
4  0000008                AB   HABITUAL IMPAIRED DRIVING

In [425]:
datasetB_primary_offense.shape

(823711, 3)

In [300]:
#dataset_with_most_serious = dataset_with_most_serious[['ID','COMMITMENT_PREFIX','PRIMARY_OFFENSE_CODE','EARLIEST_SENTENCE_EFFECTIVE_DT','END_DATE']]

In [ ]:
# Need to reconcile number of obs - why does dataset_with_most_serious have 823,711 whereas dataset A has around
# 888,000 observations?

# Checked back above and we should have 890k observations for dataset B

In [432]:
# merging on datasetA (court commitment + sentence computation) with datasetB ("self constructed" primary offenses from
# sentence component)
data_A_B = data.merge(datasetB_primary_offense, on = ['ID','COMMITMENT_PREFIX'], how='left')

### As detailed above, here's where we stand with "most serious offense code"
    - 33% of dataset A is missing most_serious_offense
    - using sentence component, we created primary offense code for about 92% of the sentence component data (using minimum and maximum length) 
    - this variable (call it Offense_Constructed) has a 93% match rate with MosT Serious Offense in dataset A (where its available)
    - we're going to use Most Serious Offense where available (66% of the time), replace with Offense_Constructed where Most Serious Offense is unavailable and Offense_Constructed is available (32% of data). 
    - This will mean we are still missing Most Serious Offense for 4% of observations. Not all of these will be relevant to our outcome variable (only relevant when someone recidivates) but a) we want to use most serious offense as a predictor so missingness is relevant and b) how many of these are relevant for recidivating might keep changing depending on our # of years for recidivating. After we do all other changes to this dataset (e.g. dropping for weird dates) will check again how many are missing most serious offense. will drop those at that point (2.6% obs)
    - Finally, ~1% of the remaining data is missing our outcome variable once it is merged on because we only coded
       up offenses that took up 95% of all offenses. We drop these as well

In [433]:
data_A_B.head()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE
0,0000004,AA,1983-07-12,None,EXPIRED,1984-07-11,1984-07-11,INACTIVE,INACTIVE,1984-07-11,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1961-10-15,ALASKA,UNKNOWN,BORN IN U.S.,NaN,SELL SCHEDULE II
1,0000006,AA,1973-01-30,None,EXPIRED,1973-03-28,0001-01-01,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,WORTHLESS CHECK
2,0000006,AB,1973-04-11,None,EXPIRED,1975-08-18,1974-08-10,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,WORTHLESS CHECK
3,0000008,AA,1990-04-09,None,EXPIRED,1990-05-17,1990-10-09,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,DWI DRIVING WHILE IMPAIRED
4,0000008,AB,1993-08-30,None,EXPIRED,1994-01-26,1994-02-18,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,HABITUAL IMPAIRED DRIVING

In [434]:
data_A_B['MOST_SERIOUS_OFFENSE_CODE'].isnull().sum()

324309

In [435]:
data_A_B['MOST_SERIOUS_OFFENSE_CODE'].isnull().sum() / data_A_B.shape[0]

0.3590738079368278

In [436]:
data_A_B['PRIMARY_OFFENSE_CODE'].isnull().sum() / data_A_B.shape[0]

0.0879911247124057

In [437]:
# Replace Most Serious Offense with our constructed Primary Offense Code if missing
data_A_B['MOST_SERIOUS_OFFENSE_CODE'].mask(data_A_B['MOST_SERIOUS_OFFENSE_CODE'].isnull(), data_A_B['PRIMARY_OFFENSE_CODE'], inplace=True)

In [438]:
data_A_B['MOST_SERIOUS_OFFENSE_CODE'].isnull().sum()

35076

In [439]:
data_A_B['MOST_SERIOUS_OFFENSE_CODE'].isnull().sum() / data_A_B.shape[0]

0.03883602640442347

In [441]:
(324309 - 35076) / data_A_B.shape[0]

0.32023778153240434

In [442]:
# Part C broken down in more detail
    # 1. Deal with date issues (takes us from 903,000 obs to 888,120). For more details, see below:
        # a. replace end date with projected end date where END_DATE = 0001-01-01 (placeholder for missing)
        # b. drop observations still missing end_date (should be only about ~350 observations)
        # c. drop observations missing EARLIEST_SENTENCE_EFFECTIVE_DT (about 12k observations)
        # b and c are dropping those where the sentence is either only in court commitment or only in sentence comp
    # 2. Query the remaining dataset to get the the next commitment prefix, next sentence date, and most serious
        # offense code for the next observation - where all of these exist. for a sentence that does not result in 
        # recidivism, nextprefix, nextstart, nextoffense will be 0
    # 3. Clean up dates - turn them into date format, after recoding the top coded 9999 dates (for life sentences)
    # 4. Get recidivism flags. See decision rule below
    # 5. Hold out active sentences (~approx 32,000 obs)
    # 6. Drop observation with no recidivism flag (Takes us from 888,120 to 850970, i.e. dropping
        # 38,000 observations. 32k of those are active sentences, 6k are "out of universe" i.e.
        # sentences that are expired but the individual was never released (mostly death in prison)
    # 7. Sanity check - Merge on our coded offenses to most serious offenses and see how well we cover the offenses
        # Approx 5% of observations that have Most Serious Offense do NOT have "Decided Category" (our variable)
        # This makes sense because we only coded up offenses that made up 95% of the offenses
    # 8. Merge on our coded offenses to "NextOffense" - the relevant variable now is "Decided category".
    # 9. Replace Decided Category to 0 if recidivism = 0 ; leave it as NA otherwise
        # After holding out active sentences and dropping "out of universe observations", we have ~850k observations
        # of these, we are missing a "Decided Category" flag (as defined by our coded offenses) for 7% of the data
        # this is a lot better than missing it for 33% of the data (since we're missing "most serious offense" for 
        # 33% of the data) but its still not great - hopefully once we bring in most serious offense from sentence
        # component, we can reduce 7% down to something more negligible
    # 10. Understand the missingness of our possible features
    
# We now have two datasets that are ready for pre processing and feature engineering:
    # dataset_with_offenses = datasetA 
    # active_sentences = data on which we will apply our predictions
        # Next steps (I think): develop a list of features and functions that can clean up those features, which can 
        # be applied to both of the datasets above
        # Additionally - do we want to write both of these to csv that we push to github?
    
# More details on Dates
    # In addition to the dates that are null (see above) because some data exists in court commitment
    # that doesnt exist in sentence computation (and vice versa) we also have start and end
    # dates that are 0001-01-01 - based on looking up some offenders with these dates, these
    # are often just missing so 0001-01-01 is a placeholder for missing date

    # There are about 10k observations with end_date = 0001-01-01. These don't seem random -
    # 9k of these are for the commitment prefix BA, and on spot checking many of them look like
    # the sentences were categorized as "FAIR FELONS" - related to the fair sentencing act that
    # affects sentences from 1982 to October 1994 (before NC enacted structured sentencing which
    # abolished parole). It also seems like many of those sentences are missing an "actual release
    # date" from prison but have a release date from parole
    # 
    # Where available, the end date will be replaced with the projected release date. on spot
    # checking, this seems to be a reasonable proxy for when inmate was last moved
    # There are 397 observations missing both end date and projected end date - dropping these
    #
    # About 12k observations have start date = 0001-01-01. On spot checking, some of these
    # appear to be entirely missing from sentence component and from the offender's online
    # profile - as if the sentences were removed ex-post. Since there is no way to get a start
    # date for these, they will be dropped. Approx 1% of the data

# Note on "Active" Flag    
    # To get "Active" sentences, we should probably not trust the Inmate Commitment
    # status flag in court commitment. This often appears active even for sentences that
    # online show "service status" = "Expired"

    # instead, we should merge on information from INmate Profile. This has "inmate record status"
    # and "inmate admin status". After some exploration, it seems like admin status = active
    # means one is in prison; record status = active (if admin status = inactive) is mostly for
    # people on parole/probation.


# Decision rule for recidivism flag:
    # if NextPrefix != 0: if nextStart - endDate is less than XXX (make this a parameter) then recidivism = 1 else 0

    # if nextprefix = 0, inmate is inactive, and they did not die in prison 
    # (e.g. serving life sentence or  other wise) then 
    # recidivism = 0

    # if nextprefix = 0, inmate status code is not active or inactive (could be missing) and 
    # end date is not 2261-01-02 (life sentence), they were likely released from prison
    # recidivism = 0

In [257]:
data_A_B['EARLIEST_SENTENCE_EFFECTIVE_DT'].isnull().sum()

838

In [443]:
# sentences missing earliest effective date from datasetA
data_A_B['END_DATE'].isnull().sum()

1262

In [444]:
data_A_B[data_A_B['END_DATE']=='0001-01-01']['END_DATE'].count()

10110

In [445]:
#data[data['EARLIEST_SENTENCE_EFFECTIVE_DT']=='0001-01-01']['EARLIEST_SENTENCE_EFFECTIVE_DT'].count()
data_missing_start = data_A_B[data_A_B['EARLIEST_SENTENCE_EFFECTIVE_DT']=='0001-01-01']
data_missing_start.shape

(12595, 21)

In [446]:
data_merge_missing = data_missing_start.merge(sent_comp_small,  how='left',on = ['ID','COMMITMENT_PREFIX'])

In [447]:
# of the 12,595 observations with EARLIEST_SENTENCE_EFFECTIVE_DT == 0001-01-01, 
# 11,400 dont have a match in sentence component, from which we migtht be 
# able to get sentence start date. Not sure it seems worth it for 1,100 observations
data_merge_missing.isnull().sum()

ID                                    0
COMMITMENT_PREFIX                     0
EARLIEST_SENTENCE_EFFECTIVE_DT        0
MOST_SERIOUS_OFFENSE_CODE         12163
INMATE_COMPUTATION_STATUS_FLAG       32
END_DATE                             32
PROJ_END_DATE                        32
INMATE_RECORD_STATUS_CODE          1647
INMATE_ADMIN_STATUS_CODE           1647
DATE_OF_LAST_INMATE_MOVEMENT       1647
TYPE_OF_LAST_INMATE_MOVEMENT       1980
CURRENT_COMMITMENT_PREFIX          8484
CONTROL_STATUS                     1647
GENDER                                0
RACE                                  0
BIRTH_DATE                            0
STATE_BORN                          358
ETHNICITY                             0
CITIZENSHIP                           0
DISCIPLINARY_INFRACTION_COUNT      4425
PRIMARY_OFFENSE_CODE_x            12163
SENTENCE_COMPONENT_NUMBER         11428
PRIMARY_OFFENSE_CODE_y            11438
PRIMARY_FELONYMISDEMEANOR_CD      11428
SENTENCING_PENALTY_CLASS_CODE     11428
PRIOR_RECORD_LEVEL_CODE           15942
MINIMUM_SENTENCE_LENGTH           11428
MAXIMUM_SENTENCE_LENGTH           11428
SENTENCE_TYPE_CODE                11428
COUNTY_OF_CONVICTION_CODE         11428
dtype: int64

In [448]:
sent_comp_small.head()

,ID,COMMITMENT_PREFIX,SENTENCE_COMPONENT_NUMBER,PRIMARY_OFFENSE_CODE,PRIMARY_FELONYMISDEMEANOR_CD,SENTENCING_PENALTY_CLASS_CODE,PRIOR_RECORD_LEVEL_CODE,MINIMUM_SENTENCE_LENGTH,MAXIMUM_SENTENCE_LENGTH,SENTENCE_TYPE_CODE,COUNTY_OF_CONVICTION_CODE
0,0000004,AA,001,SELL SCHEDULE II,FELON,CLASS H,None,0000000,0030000,DEPT OF CORR DIV OF PRISONS,PERQUIMANS
1,0000004,AA,002,SELL SCHEDULE II,FELON,CLASS H,None,0000000,0030000,DEPT OF CORR DIV OF PRISONS,PERQUIMANS
2,0000006,AA,001,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000060,0000090,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
3,0000006,AB,001,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND
4,0000006,AB,002,WORTHLESS CHECK,MISD.,MISD.(PRE-STRUCTURE),None,0000030,0000000,DEPT OF CORR DIV OF PRISONS,CUMBERLAND

In [449]:
# Step 1
# https://kanoki.org/2019/07/17/pandas-how-to-replace-values-based-on-conditions/
data_A_B['END_DATE'].mask(data_A_B['END_DATE'] == '0001-01-01', data_A_B['PROJ_END_DATE'], inplace=True)
data_A_B = data_A_B[data_A_B['END_DATE']!='0001-01-01']
data_A_B = data_A_B[data_A_B['EARLIEST_SENTENCE_EFFECTIVE_DT']!='0001-01-01']
data_A_B = data_A_B[data_A_B['END_DATE'].notna()]
data_A_B = data_A_B[data_A_B['EARLIEST_SENTENCE_EFFECTIVE_DT'].notna()]

In [451]:
data_A_B.shape

(888121, 21)

In [452]:
data_A_B['MOST_SERIOUS_OFFENSE_CODE'].isnull().sum() / data_A_B.shape[0]

0.02623966779301469

In [453]:
# Step 1.5 drop observations missing most serious offense code
data_A_B = data_A_B[data_A_B['MOST_SERIOUS_OFFENSE_CODE'].notna()]

In [454]:
data_A_B.shape

(864817, 21)

In [476]:
# Step 2
# write data to sqlite in memory so can query it to get next record
conn = sqlite3.connect(':memory:')
data_A_B.to_sql('data', conn, index=False)

start = datetime.datetime.now()
# https://stackoverflow.com/questions/37360901/sql-self-join-compare-current-record-with-the-record-of-the-previous-date
query_datasetA = '''
                        SELECT *, 
                        LEAD(COMMITMENT_PREFIX,1,0) OVER (
                                                    PARTITION BY ID
                                                    ORDER BY COMMITMENT_PREFIX
                                                    ) NextPrefix,
                        LEAD(EARLIEST_SENTENCE_EFFECTIVE_DT,1,0) OVER (
                                                    PARTITION BY ID
                                                    ORDER BY COMMITMENT_PREFIX
                                                    ) NextStart,
                        LEAD(MOST_SERIOUS_OFFENSE_CODE,1,0) OVER (
                                                    PARTITION BY ID
                                                    ORDER BY COMMITMENT_PREFIX
                                                    ) NextOffense                                                    
                                                    
                        FROM data ;

                        '''


dataset_flag = qd.query_db_notebook(conn,query_datasetA)
conn.close
stop = datetime.datetime.now()
print("Time Elapsed:", stop - start)

Time Elapsed: 0:01:19.226138

In [478]:
dataset_flag.head()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense
0,0000004,AA,1983-07-12,SELL SCHEDULE II,EXPIRED,1984-07-11,1984-07-11,INACTIVE,INACTIVE,1984-07-11,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1961-10-15,ALASKA,UNKNOWN,BORN IN U.S.,NaN,SELL SCHEDULE II,0,0,0
1,0000006,AA,1973-01-30,WORTHLESS CHECK,EXPIRED,1973-03-28,0001-01-01,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,WORTHLESS CHECK,AB,1973-04-11,WORTHLESS CHECK
2,0000006,AB,1973-04-11,WORTHLESS CHECK,EXPIRED,1975-08-18,1974-08-10,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,WORTHLESS CHECK,0,0,0
3,0000008,AA,1990-04-09,DWI DRIVING WHILE IMPAIRED,EXPIRED,1990-05-17,1990-10-09,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,DWI DRIVING WHILE IMPAIRED,AB,1993-08-30,HABITUAL IMPAIRED DRIVING
4,0000008,AB,1993-08-30,HABITUAL IMPAIRED DRIVING,EXPIRED,1994-01-26,1994-02-18,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,HABITUAL IMPAIRED DRIVING,BA,1995-01-02,HABITUAL IMPAIRED DRIVING

In [479]:
# Step 3. 
# call fix dates function to fix relevant dates
dataset_flag = fix_dates(dataset_flag,'EARLIEST_SENTENCE_EFFECTIVE_DT')
dataset_flag = fix_dates(dataset_flag,'END_DATE')
dataset_flag = fix_dates(dataset_flag,'NextStart')

In [480]:
# check that dates converted successfully
dataset_flag.dtypes

ID                                        object
COMMITMENT_PREFIX                         object
EARLIEST_SENTENCE_EFFECTIVE_DT    datetime64[ns]
MOST_SERIOUS_OFFENSE_CODE                 object
INMATE_COMPUTATION_STATUS_FLAG            object
END_DATE                          datetime64[ns]
PROJ_END_DATE                             object
INMATE_RECORD_STATUS_CODE                 object
INMATE_ADMIN_STATUS_CODE                  object
DATE_OF_LAST_INMATE_MOVEMENT              object
TYPE_OF_LAST_INMATE_MOVEMENT              object
CURRENT_COMMITMENT_PREFIX                 object
CONTROL_STATUS                            object
GENDER                                    object
RACE                                      object
BIRTH_DATE                                object
STATE_BORN                                object
ETHNICITY                                 object
CITIZENSHIP                               object
DISCIPLINARY_INFRACTION_COUNT            float64
PRIMARY_OFFENSE_CODE                      object
NextPrefix                                object
NextStart                         datetime64[ns]
NextOffense                               object
new_col                                    int64
dtype: object

In [481]:
# Step 4
# get recidivism flag - see decision rules and function above 
dataset_flag = get_recidivism_label(dataset_flag)
dataset_flag.head()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff,Recidivate
0,0000004,AA,1983-07-12,SELL SCHEDULE II,EXPIRED,1984-07-11,1984-07-11,INACTIVE,INACTIVE,1984-07-11,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1961-10-15,ALASKA,UNKNOWN,BORN IN U.S.,NaN,SELL SCHEDULE II,0,NaT,0,0,NaN,0.0
1,0000006,AA,1973-01-30,WORTHLESS CHECK,EXPIRED,1973-03-28,0001-01-01,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,WORTHLESS CHECK,AB,1973-04-11,WORTHLESS CHECK,1973,0.0,1.0
2,0000006,AB,1973-04-11,WORTHLESS CHECK,EXPIRED,1975-08-18,1974-08-10,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,WORTHLESS CHECK,0,NaT,0,0,NaN,0.0
3,0000008,AA,1990-04-09,DWI DRIVING WHILE IMPAIRED,EXPIRED,1990-05-17,1990-10-09,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,DWI DRIVING WHILE IMPAIRED,AB,1993-08-30,HABITUAL IMPAIRED DRIVING,1993,3.0,0.0
4,0000008,AB,1993-08-30,HABITUAL IMPAIRED DRIVING,EXPIRED,1994-01-26,1994-02-18,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,HABITUAL IMPAIRED DRIVING,BA,1995-01-02,HABITUAL IMPAIRED DRIVING,1995,1.0,1.0

In [519]:
dataset_flag = get_recidivism_label(dataset_flag)
dataset_flag.head()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff,Recidivate
0,0000004,AA,1983-07-12,SELL SCHEDULE II,EXPIRED,1984-07-11,1984-07-11,INACTIVE,INACTIVE,1984-07-11,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1961-10-15,ALASKA,UNKNOWN,BORN IN U.S.,NaN,SELL SCHEDULE II,0,NaT,0,0,NaN,0.0
1,0000006,AA,1973-01-30,WORTHLESS CHECK,EXPIRED,1973-03-28,0001-01-01,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,WORTHLESS CHECK,AB,1973-04-11,WORTHLESS CHECK,1973,0.0,1.0
2,0000006,AB,1973-04-11,WORTHLESS CHECK,EXPIRED,1975-08-18,1974-08-10,INACTIVE,INACTIVE,1975-08-18,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1951-07-17,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,WORTHLESS CHECK,0,NaT,0,0,NaN,0.0
3,0000008,AA,1990-04-09,DWI DRIVING WHILE IMPAIRED,EXPIRED,1990-05-17,1990-10-09,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,DWI DRIVING WHILE IMPAIRED,AB,1993-08-30,HABITUAL IMPAIRED DRIVING,1993,3.0,0.0
4,0000008,AB,1993-08-30,HABITUAL IMPAIRED DRIVING,EXPIRED,1994-01-26,1994-02-18,INACTIVE,INACTIVE,1995-09-14,TERMINATED PAROLE,None,REGULAR POPULATION RPOP,MALE,WHITE,1963-12-29,NORTH CAROLINA,UNKNOWN,BORN IN U.S.,NaN,HABITUAL IMPAIRED DRIVING,BA,1995-01-02,HABITUAL IMPAIRED DRIVING,1995,1.0,1.0

In [482]:
missing_recidivate = dataset_flag[dataset_flag['Recidivate'].isnull()]

In [483]:
missing_recidivate.shape

(37086, 27)

In [484]:
# 40k obs missing recidivism flag.
# 32,801 of those are active
# 4,261 of the inactive ones are those that died in prison
# so about 3,358 obs missing recidivate flag because they have no INMATE_ADMIN_STATUS_CODE
# let's look at just those
missing_recidivate.groupby('INMATE_ADMIN_STATUS_CODE').count()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff,Recidivate
INMATE_ADMIN_STATUS_CODE,,,,,,,,,,,,,,,,,,,,,,,,,,
ACTIVE,32801,32801,32801,32801,32801,32801,32801,32801,32801,27587,32729,32801,32801,32801,32801,31123,32789,32790,28291,30766,32801,0,32801,32801,0,0
INACTIVE,4261,4261,4261,4261,4261,4261,4261,4261,4261,4261,2656,4261,4261,4261,4261,4008,4260,4260,2980,4068,4261,0,4261,4261,0,0
TEM.ABSENT,24,24,24,24,24,24,24,24,24,9,24,24,24,24,24,21,24,24,20,23,24,0,24,24,0,0

In [485]:
40420 - 32801 - 4261

3358

In [486]:
missing_recidivate.groupby('TYPE_OF_LAST_INMATE_MOVEMENT').count()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff,Recidivate
TYPE_OF_LAST_INMATE_MOVEMENT,,,,,,,,,,,,,,,,,,,,,,,,,,
DEATH,4261,4261,4261,4261,4261,4261,4261,4261,4261,4261,2656,4261,4261,4261,4261,4008,4260,4260,2980,4068,4261,0,4261,4261,0,0
ESCAPED,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,2,5,5,2,4,5,0,5,5,0,0
ESCAPEE IN CUSTODY,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,0,1,1,0,0
NEW ADMISSION,1109,1109,1109,1109,1109,1109,1109,1109,1109,1109,1109,1109,1109,1109,1109,1023,1100,1100,425,1035,1109,0,1109,1109,0,0
RE-ADMISSION,1078,1078,1078,1078,1078,1078,1078,1078,1078,1078,1010,1078,1078,1078,1078,1066,1078,1078,848,1004,1078,0,1078,1078,0,0
RECEIVE PSD,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2,0,2,2,0,0
RECEIVED FROM,24186,24186,24186,24186,24186,24186,24186,24186,24186,24186,24183,24186,24186,24186,24186,22905,24183,24184,21323,22754,24186,0,24186,24186,0,0
RETURN FROM ESCAPE,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,3,3,0,3,3,0,0
RETURN FROM REL ERR,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,0,0
RETURN FROM TEMP LVE,585,585,585,585,585,585,585,585,585,585,585,585,585,585,585,576,585,585,513,560,585,0,585,585,0,0
RETURNED FROM PAROLE,620,620,620,620,620,620,620,620,620,620,620,620,620,620,620,617,620,620,508,566,620,0,620,620,0,0
TRANS.OS- CONC.SENT.,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,0,3,3,0,0
TRANSFERRED TO,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0,0
TRN OUT INTRST COMP,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0,0

In [487]:
32801 + 4325 + 697

37823

In [488]:
40544 - 37823

2721

In [489]:
missing_recidivate_no_inmate_admin_record = missing_recidivate[missing_recidivate['INMATE_ADMIN_STATUS_CODE'].isnull()]

In [490]:
# All those missing INMATE_ADMIN_STATUS_CODE are also missing INMATE_RECORD_STATUS_CODE
missing_recidivate_no_inmate_admin_record.groupby('INMATE_RECORD_STATUS_CODE').count()

Empty DataFrame
Columns: [ID, COMMITMENT_PREFIX, EARLIEST_SENTENCE_EFFECTIVE_DT, MOST_SERIOUS_OFFENSE_CODE, INMATE_COMPUTATION_STATUS_FLAG, END_DATE, PROJ_END_DATE, INMATE_ADMIN_STATUS_CODE, DATE_OF_LAST_INMATE_MOVEMENT, TYPE_OF_LAST_INMATE_MOVEMENT, CURRENT_COMMITMENT_PREFIX, CONTROL_STATUS, GENDER, RACE, BIRTH_DATE, STATE_BORN, ETHNICITY, CITIZENSHIP, DISCIPLINARY_INFRACTION_COUNT, PRIMARY_OFFENSE_CODE, NextPrefix, NextStart, NextOffense, new_col, Time_Diff, Recidivate]
Index: []

In [491]:
# on spot checking the IDs, the offenders show up as "inactive" for their parole/probation
# status, even though inmate_record_status in our data shows none
# they also have "current incarceration record not available"
# not really sure if this is just some weird data quirk 
# i'm okay with either dropping these ~3k observations, or assuming they were released
# and
missing_recidivate_no_inmate_admin_record.head()

Empty DataFrame
Columns: [ID, COMMITMENT_PREFIX, EARLIEST_SENTENCE_EFFECTIVE_DT, MOST_SERIOUS_OFFENSE_CODE, INMATE_COMPUTATION_STATUS_FLAG, END_DATE, PROJ_END_DATE, INMATE_RECORD_STATUS_CODE, INMATE_ADMIN_STATUS_CODE, DATE_OF_LAST_INMATE_MOVEMENT, TYPE_OF_LAST_INMATE_MOVEMENT, CURRENT_COMMITMENT_PREFIX, CONTROL_STATUS, GENDER, RACE, BIRTH_DATE, STATE_BORN, ETHNICITY, CITIZENSHIP, DISCIPLINARY_INFRACTION_COUNT, PRIMARY_OFFENSE_CODE, NextPrefix, NextStart, NextOffense, new_col, Time_Diff, Recidivate]
Index: []

In [492]:
# sentence with max end date is also inactive on offender search
missing_recidivate_no_inmate_admin_record[missing_recidivate_no_inmate_admin_record['END_DATE']==missing_recidivate_no_inmate_admin_record['END_DATE'].max()]

Empty DataFrame
Columns: [ID, COMMITMENT_PREFIX, EARLIEST_SENTENCE_EFFECTIVE_DT, MOST_SERIOUS_OFFENSE_CODE, INMATE_COMPUTATION_STATUS_FLAG, END_DATE, PROJ_END_DATE, INMATE_RECORD_STATUS_CODE, INMATE_ADMIN_STATUS_CODE, DATE_OF_LAST_INMATE_MOVEMENT, TYPE_OF_LAST_INMATE_MOVEMENT, CURRENT_COMMITMENT_PREFIX, CONTROL_STATUS, GENDER, RACE, BIRTH_DATE, STATE_BORN, ETHNICITY, CITIZENSHIP, DISCIPLINARY_INFRACTION_COUNT, PRIMARY_OFFENSE_CODE, NextPrefix, NextStart, NextOffense, new_col, Time_Diff, Recidivate]
Index: []

In [520]:
dataset_flag.groupby('Recidivate').count()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff
Recidivate,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,679080,679080,679080,679080,679080,679080,679080,674639,674639,674639,669057,515238,674639,679080,679079,679080,652115,678402,678417,403051,645902,679080,254782,679080,679080,254782
1.0,148651,148651,148651,148651,148651,148651,148651,147162,147162,147162,143900,123844,147162,148651,148650,148651,146667,148638,148645,124150,139931,148651,148651,148651,148651,148651

In [521]:
# Step 5
# Hold out active senteces
active_sentences = dataset_flag[(dataset_flag['INMATE_ADMIN_STATUS_CODE']=='ACTIVE') & (dataset_flag['NextPrefix']==0)]
active_sentences.shape

(0, 27)

In [522]:
# Step 6
# drop observations with no recidivism flag (this will also drop active sentences, but we've already separated those)
dataset_flag = dataset_flag[(dataset_flag['Recidivate'].notnull())]
dataset_flag.shape

(827731, 27)

In [512]:
267114 / (267114 + 560617)

0.3227062898453725

In [497]:
# Step 7
# Bring in coded offenses - sanity check

# this merges our coded offenses onto "most serious offense" to check how much coverage
# our variable is giving us. however, this not what we ultimately want - in the end, we want
# our codes to be merged onto "nextOffense" - i.e., the offense code for the next offense 
# someone committed that resulted in re-incarceration
# NextOffense can be missing for 2 reasons: because most serious offense is missing, or because
# the individual did not recidivate. after merging our codes onto "NextOffense", we can replace
# "Decided Category" with 0 if recidivism = 0, and leave it as NA otherwise
dataset_with_offenses_test = dataset_flag.merge(coded_offenses, how='left', left_on='MOST_SERIOUS_OFFENSE_CODE', right_on='Primary offense code')

In [498]:
dataset_with_offenses_test.sample()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff,Recidivate,Primary offense code,Description (if needed),Decided Category,Needed a check?,More lenient,More harsh
744667,1058849,BB,2013-02-14,RECEIVING STOLEN VEHICLE,EXPIRED,2015-03-16,2015-03-16,PAROLED,INACTIVE,2020-04-07,PAROLE/RETURN TO PAR,BC,REGULAR POPULATION RPOP,MALE,WHITE,1989-10-08,NORTH CAROLINA,EUROPEAN/N.AM./AUSTR,BORN IN U.S.,36.0,RECEIVING STOLEN VEHICLE,BC,2015-05-18,HABITUAL FELON,2015,0.0,1.0,RECEIVING STOLEN VEHICLE,0,1.0,NO,1.0,1.0

In [499]:
# Obs not missing Most Serious Offense
dataset_with_offenses_test['MOST_SERIOUS_OFFENSE_CODE'].notnull().sum()

827731

In [501]:
# Of obs not missing Most Serious Offense, how many are missing our coded value?
#dataset_with_offenses_test[dataset_with_offenses_test['MOST_SERIOUS_OFFENSE_CODE'].notnull()]['Primary offense code'].isnull().sum()
dataset_with_offenses_test['Primary offense code'].isnull().sum()

41678

In [502]:
41678/827731

0.050352107145920595

In [503]:
dataset_with_offenses_test.groupby('Decided Category').count()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff,Recidivate,Primary offense code,Description (if needed),Needed a check?,More lenient,More harsh
Decided Category,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1.0,223738,223738,223738,223738,223738,223738,223738,221827,221827,221827,219717,156393,221827,223738,223738,223738,217722,223635,223636,132007,212357,223738,119684,223738,223738,119684,223738,223738,223738,223738,223738,223738
2.0,211241,211241,211241,211241,211241,211241,211241,209782,209782,209782,207662,166963,209782,211241,211241,211241,206791,211106,211111,129363,197567,211241,113823,211241,211241,113823,211241,211241,211241,211241,211241,211241
3.0,249430,249430,249430,249430,249430,249430,249430,247991,247991,247991,244807,207870,247991,249430,249430,249430,237519,249050,249061,173964,238040,249430,111053,249430,249430,111053,249430,249430,249430,249430,249430,249430
4.0,83891,83891,83891,83891,83891,83891,83891,83164,83164,83164,82276,63959,83164,83891,83891,83891,80918,83858,83860,52369,80553,83891,39540,83891,83891,39540,83891,83891,83891,83891,83891,83891
5.0,17753,17753,17753,17753,17753,17753,17753,17653,17653,17653,17494,12757,17653,17753,17753,17753,16631,17752,17752,13995,17366,17753,5045,17753,17753,5045,17753,17753,17753,17753,17753,17753

In [504]:
dataset_with_offenses_test.shape

(827731, 33)

In [523]:
# Step 8 and 9
# Now, merge on coded offenses onto NextOffense, turn Decided Category, More Lenient, and more harsh = 0 if recidivism = 0
dataset_with_offenses = dataset_flag.merge(coded_offenses, how='left', left_on='NextOffense', right_on='Primary offense code')
dataset_with_offenses.loc[dataset_with_offenses['Recidivate']==0,'Decided Category'] = 0
dataset_with_offenses.loc[dataset_with_offenses['Recidivate']==0,'More lenient'] = 0
dataset_with_offenses.loc[dataset_with_offenses['Recidivate']==0,'More harsh'] = 0
dataset_with_offenses.shape

(827731, 33)

In [524]:
dataset_with_offenses.groupby('Decided Category').count()

,ID,COMMITMENT_PREFIX,EARLIEST_SENTENCE_EFFECTIVE_DT,MOST_SERIOUS_OFFENSE_CODE,INMATE_COMPUTATION_STATUS_FLAG,END_DATE,PROJ_END_DATE,INMATE_RECORD_STATUS_CODE,INMATE_ADMIN_STATUS_CODE,DATE_OF_LAST_INMATE_MOVEMENT,TYPE_OF_LAST_INMATE_MOVEMENT,CURRENT_COMMITMENT_PREFIX,CONTROL_STATUS,GENDER,RACE,BIRTH_DATE,STATE_BORN,ETHNICITY,CITIZENSHIP,DISCIPLINARY_INFRACTION_COUNT,PRIMARY_OFFENSE_CODE,NextPrefix,NextStart,NextOffense,new_col,Time_Diff,Recidivate,Primary offense code,Description (if needed),Needed a check?,More lenient,More harsh
Decided Category,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,679080,679080,679080,679080,679080,679080,679080,674639,674639,674639,669057,515238,674639,679080,679079,679080,652115,678402,678417,403051,645902,679080,254782,679080,679080,254782,679080,242674,242674,242674,679080,679080
1.0,41638,41638,41638,41638,41638,41638,41638,41120,41120,41120,40430,31655,41120,41638,41638,41638,41194,41637,41638,33209,39492,41638,41638,41638,41638,41638,41638,41638,41638,41638,41638,41638
2.0,38067,38067,38067,38067,38067,38067,38067,37688,37688,37688,36995,33072,37688,38067,38067,38067,37718,38066,38067,31547,35620,38067,38067,38067,38067,38067,38067,38067,38067,38067,38067,38067
3.0,45758,45758,45758,45758,45758,45758,45758,45427,45427,45427,44231,40135,45427,45758,45758,45758,44997,45749,45752,40076,42785,45758,45758,45758,45758,45758,45758,45758,45758,45758,45758,45758
4.0,13644,13644,13644,13644,13644,13644,13644,13482,13482,13482,13202,11186,13482,13644,13644,13644,13451,13643,13644,11199,13016,13644,13644,13644,13644,13644,13644,13644,13644,13644,13644,13644
5.0,3046,3046,3046,3046,3046,3046,3046,3025,3025,3025,2831,2485,3025,3046,3046,3046,2930,3046,3046,2796,2953,3046,3046,3046,3046,3046,3046,3046,3046,3046,3046,3046

In [516]:
dataset_with_offenses['Decided Category'].isnull().sum()

11688

In [507]:
679080 + 41638 + 38067 + 45758 + 13644 + 3046

821233

In [508]:
1-((821233)/dataset_with_offenses.shape[0])

0.007850376511209567

In [509]:
827731 - 821233

6498

In [518]:
11688/dataset_with_offenses.shape[0]

0.014120529495693649

In [526]:
# less than 1% of the data is missing our outcome variable (when using the 1 year definition)
# of recidivism
# with the 3 year definition of recidivism, 1.4% of data is missing outcome variable
# i think we can drop this amount

In [234]:
# Step 10 (next two cells)

# demographic data is not missing in inmate profile, but its missing systematically for ~6000 observations
# in final dataset - which 6k observations are missing in inmate profile?

# based on spot checking many of the 6k obs missing from inmate profile, it appears that NC offender search says
# their incarceration record is currently unavailable - not sure for what reason

# so it makes sense to try and get a lot of these variables from other datasets where possible (e.g. demographics
# from offender profile, disciplinary infractions from the displinary infractions dataset)
inmt_profile.isnull().sum()

ID                                   0
INMATE_RECORD_STATUS_CODE            0
INMATE_ADMIN_STATUS_CODE             0
DATE_OF_LAST_INMATE_MOVEMENT         0
TYPE_OF_LAST_INMATE_MOVEMENT      5774
CURRENT_COMMITMENT_PREFIX       143128
CONTROL_STATUS                       0
dtype: int64

In [235]:
# by bringing in data from other sources, there are a lot fewer missings
# still - need to decide how to deal with features that are missing
dataset_with_offenses.isnull().sum()

ID                                     0
COMMITMENT_PREFIX                      0
EARLIEST_SENTENCE_EFFECTIVE_DT         0
MOST_SERIOUS_OFFENSE_CODE         308659
INMATE_COMPUTATION_STATUS_FLAG         0
END_DATE                               0
PROJ_END_DATE                          0
INMATE_RECORD_STATUS_CODE           6216
INMATE_ADMIN_STATUS_CODE            6216
DATE_OF_LAST_INMATE_MOVEMENT        6216
TYPE_OF_LAST_INMATE_MOVEMENT       15212
CURRENT_COMMITMENT_PREFIX         202165
CONTROL_STATUS                      6216
GENDER                                 0
RACE                                   2
BIRTH_DATE                             0
STATE_BORN                         29626
ETHNICITY                            692
CITIZENSHIP                          669
DISCIPLINARY_INFRACTION_COUNT     310201
NextPrefix                             0
NextStart                         430781
NextOffense                       111635
new_col                                0
Time_Diff                         430781
Recidivate                             0
Primary offense code              558029
Description (if needed)           558029
Decided Category                   60681
Needed a check?                   558029
More lenient                       60681
More harsh                         60681
dtype: int64

In [236]:
#dataset_with_offenses.groupby('TYPE_OF_LAST_INMATE_MOVEMENT').count()

In [525]:
dataset_with_offenses.to_csv('../data/dataset_main.csv', index=False)
active_sentences.to_csv('../data/active_sentences.csv', index=False)