In [1]:
%load_ext autoreload
%autoreload 2

from build_prison_conditions_df import build_prison_conditions_df
import clean_data
import pandas as pd

In [78]:
df = build_prison_conditions_df()
df.replace('federal bop', 'federal', inplace=True)

In [115]:
MARSHALL_CSV = '../data/marshall_covid_cases.csv'

marshall_dtypes = {'name': str,
                   'total_staff_cases': 'Int64',
                   'total_prisoner_cases': 'Int64',
                   'total_staff_deaths': 'Int64',
                   'total_prisoner_deaths': 'Int64',
                   'as_of_date': str}

marshall = clean_data.import_csv(MARSHALL_CSV, marshall_dtypes)

marshall['as_of_date'] = pd.to_datetime(marshall['as_of_date'], format='%Y-%m-%d')
marshall['lower_name'] = marshall['name'].str.lower()

marshall.sort_values(by='as_of_date', inplace=True)

for state in list(marshall['name'].unique()):
    state_filter = marshall['name'] == state
    for col in marshall.select_dtypes(include='number').columns.to_list():
        marshall.loc[state_filter, col] = marshall.loc[state_filter, col].fillna(method='bfill')
        marshall.loc[state_filter, col] = marshall.loc[state_filter, col].fillna(method='ffill')

state_policies = marshall.merge(df[demographics], left_on='lower_name', right_on='state')

['name', 'total_staff_cases', 'total_prisoner_cases', 'total_staff_deaths', 'total_prisoner_deaths', 'as_of_date']

In [116]:
state_policies

,name,total_staff_cases,total_prisoner_cases,total_staff_deaths,total_prisoner_deaths,as_of_date,lower_name,state,pop_2020,pop_2018,capacity,pct_occup
0,Delaware,0,0,0,0,2020-03-24,delaware,delaware,5582.0,5582.0,5566.0,1.002875
1,Delaware,0,0,0,0,2020-04-01,delaware,delaware,5582.0,5582.0,5566.0,1.002875
2,Delaware,6,2,0,0,2020-04-08,delaware,delaware,5582.0,5582.0,5566.0,1.002875
3,Delaware,18,13,0,0,2020-04-15,delaware,delaware,5582.0,5582.0,5566.0,1.002875
4,Delaware,26,41,0,1,2020-04-22,delaware,delaware,5582.0,5582.0,5566.0,1.002875
...,...,...,...,...,...,...,...,...,...,...,...,...
454,Connecticut,244,321,0,1,2020-04-22,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000
455,Connecticut,326,417,0,3,2020-04-29,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000
456,Connecticut,358,478,0,6,2020-05-06,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000
457,Connecticut,368,526,0,6,2020-05-13,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000
458,Connecticut,373,684,0,6,2020-05-20,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000

In [117]:
for _, row in state_policies.iterrows():
    print(row)

             oregon
pop_2020                               14707
pop_2018                               14707
capacity                               15612
pct_occup                           0.942032
Name: 423, dtype: object
name                                  Oregon
total_staff_cases                          1
total_prisoner_cases                       0
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-01 00:00:00
lower_name                            oregon
state                                 oregon
pop_2020                               14707
pop_2018                               14707
capacity                               15612
pct_occup                           0.942032
Name: 424, dtype: object
name                                  Oregon
total_staff_cases                          5
total_prisoner_cases                       3
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-08 00:00:00
lower_name                            oregon
state                                 oregon
pop_2020                               14707
pop_2018                               14707
capacity                               15612
pct_occup                           0.942032
Name: 425, dtype: object
name                                  Oregon
total_staff_cases                         10
total_prisoner_cases                       5
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-15 00:00:00
lower_name                            oregon
state                                 oregon
pop_2020                               14707
pop_2018                               14707
capacity                               15612
pct_occup                           0.942032
Name: 426, dtype: object
name                                  Oregon
total_staff_cases                         10
total_prisoner_cases                       7
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-22 00:00:00
lower_name                            oregon
state                                 oregon
pop_2020                               14707
pop_2018                               14707
capacity                               15612
pct_occup                           0.942032
Name: 427, dtype: object
name                                  Oregon
total_staff_cases                         15
total_prisoner_cases                      21
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-29 00:00:00
lower_name                            oregon
state                                 oregon
pop_2020                               14707
pop_2018                               14707
capacity                               15612
pct_occup                           0.942032
Name: 428, dtype: object
name                                  Oregon
total_staff_cases                         21
total_prisoner_cases                      44
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-05-06 00:00:00
lower_name                            oregon
state                                 oregon
pop_2020                               14707
pop_2018                               14707
capacity                               15612
pct_occup                           0.942032
Name: 429, dtype: object
name                                  Oregon
total_staff_cases                         32
total_prisoner_cases                     113
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-05-13 00:00:00
lower_name                            oregon
state                                 oregon
pop_2020                               14707
pop_2018                               14707
capacity                               15612
pct_occup                           0.942032
Name: 430, dtype: object
name                                  Oregon
total_staff_cases                         38
total_prisoner_cases                     143
total_staff_deaths                         0
total_prisoner_deaths                      1
as_of_date               2020-05-21 00:00:00
lower_name                            oregon
state                                 oregon
pop_2020                               14707
pop_2018                               14707
capacity                               15612
pct_occup                           0.942032
Name: 431, dtype: object
name                            Pennsylvania
total_staff_cases                          8
total_prisoner_cases                       0
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-03-26 00:00:00
lower_name                      pennsylvania
state                           pennsylvania
pop_2020                               44500
pop_2018                               45941
capacity                               48961
pct_occup                           0.938318
Name: 432, dtype: object
name                            Pennsylvania
total_staff_cases                          8
total_prisoner_cases                       2
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-01 00:00:00
lower_name                      pennsylvania
state                           pennsylvania
pop_2020                               44500
pop_2018                               45941
capacity                               48961
pct_occup                           0.938318
Name: 433, dtype: object
name                            Pennsylvania
total_staff_cases                         16
total_prisoner_cases                       7
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-08 00:00:00
lower_name                      pennsylvania
state                           pennsylvania
pop_2020                               44500
pop_2018                               45941
capacity                               48961
pct_occup                           0.938318
Name: 434, dtype: object
name                            Pennsylvania
total_staff_cases                         24
total_prisoner_cases                      17
total_staff_deaths                         0
total_prisoner_deaths                      1
as_of_date               2020-04-15 00:00:00
lower_name                      pennsylvania
state                           pennsylvania
pop_2020                               44500
pop_2018                               45941
capacity                               48961
pct_occup                           0.938318
Name: 435, dtype: object
name                            Pennsylvania
total_staff_cases                         54
total_prisoner_cases                      29
total_staff_deaths                         0
total_prisoner_deaths                      1
as_of_date               2020-04-22 00:00:00
lower_name                      pennsylvania
state                           pennsylvania
pop_2020                               44500
pop_2018                               45941
capacity                               48961
pct_occup                           0.938318
Name: 436, dtype: object
name                            Pennsylvania
total_staff_cases                         90
total_prisoner_cases                      47
total_staff_deaths                         0
total_prisoner_deaths                      3
as_of_date               2020-04-29 00:00:00
lower_name                      pennsylvania
state                           pennsylvania
pop_2020                               44500
pop_2018                               45941
capacity                               48961
pct_occup                           0.938318
Name: 437, dtype: object
name                            Pennsylvania
total_staff_cases                        127
total_prisoner_cases                     143
total_staff_deaths                         0
total_prisoner_deaths                      3
as_of_date               2020-05-06 00:00:00
lower_name                      pennsylvania
state                           pennsylvania
pop_2020                               44500
pop_2018                               45941
capacity                               48961
pct_occup                           0.938318
Name: 438, dtype: object
name                            Pennsylvania
total_staff_cases                        148
total_prisoner_cases                     214
total_staff_deaths                         0
total_prisoner_deaths                      3
as_of_date               2020-05-13 00:00:00
lower_name                      pennsylvania
state                           pennsylvania
pop_2020                               44500
pop_2018                               45941
capacity                               48961
pct_occup                           0.938318
Name: 439, dtype: object
name                            Pennsylvania
total_staff_cases                        160
total_prisoner_cases                     227
total_staff_deaths                         1
total_prisoner_deaths                      5
as_of_date               2020-05-20 00:00:00
lower_name                      pennsylvania
state                           pennsylvania
pop_2020                               44500
pop_2018                               45941
capacity                               48961
pct_occup                           0.938318
Name: 440, dtype: object
name                                 Florida
total_staff_cases                          7
total_prisoner_cases                       0
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-03-27 00:00:00
lower_name                           florida
state                                florida
pop_2020                               85169
pop_2018                               85169
capacity                               87103
pct_occup                           0.977796
Name: 441, dtype: object
name                                 Florida
total_staff_cases                         12
total_prisoner_cases                       0
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-01 00:00:00
lower_name                           florida
state                                florida
pop_2020                               85169
pop_2018                               85169
capacity                               87103
pct_occup                           0.977796
Name: 442, dtype: object
name                                 Florida
total_staff_cases                         40
total_prisoner_cases                       5
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-08 00:00:00
lower_name                           florida
state                                florida
pop_2020                               85169
pop_2018                               85169
capacity                               87103
pct_occup                           0.977796
Name: 443, dtype: object
name                                 Florida
total_staff_cases                         58
total_prisoner_cases                      42
total_staff_deaths                         0
total_prisoner_deaths                      2
as_of_date               2020-04-15 00:00:00
lower_name                           florida
state                                florida
pop_2020                               85169
pop_2018                               85169
capacity                               87103
pct_occup                           0.977796
Name: 444, dtype: object
name                                 Florida
total_staff_cases                        102
total_prisoner_cases                     136
total_staff_deaths                         0
total_prisoner_deaths                      4
as_of_date               2020-04-22 00:00:00
lower_name                           florida
state                                florida
pop_2020                               85169
pop_2018                               85169
capacity                               87103
pct_occup                           0.977796
Name: 445, dtype: object
name                                 Florida
total_staff_cases                        143
total_prisoner_cases                     202
total_staff_deaths                         0
total_prisoner_deaths                      5
as_of_date               2020-04-29 00:00:00
lower_name                           florida
state                                florida
pop_2020                               85169
pop_2018                               85169
capacity                               87103
pct_occup                           0.977796
Name: 446, dtype: object
name                                 Florida
total_staff_cases                        180
total_prisoner_cases                     393
total_staff_deaths                         0
total_prisoner_deaths                      7
as_of_date               2020-05-06 00:00:00
lower_name                           florida
state                                florida
pop_2020                               85169
pop_2018                               85169
capacity                               87103
pct_occup                           0.977796
Name: 447, dtype: object
name                                 Florida
total_staff_cases                        208
total_prisoner_cases                     843
total_staff_deaths                         0
total_prisoner_deaths                      9
as_of_date               2020-05-13 00:00:00
lower_name                           florida
state                                florida
pop_2020                               85169
pop_2018                               85169
capacity                               87103
pct_occup                           0.977796
Name: 448, dtype: object
name                                 Florida
total_staff_cases                        241
total_prisoner_cases                    1191
total_staff_deaths                         0
total_prisoner_deaths                     10
as_of_date               2020-05-20 00:00:00
lower_name                           florida
state                                florida
pop_2020                               85169
pop_2018                               85169
capacity                               87103
pct_occup                           0.977796
Name: 449, dtype: object
name                             Connecticut
total_staff_cases                          3
total_prisoner_cases                       2
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-03-27 00:00:00
lower_name                       connecticut
state                            connecticut
pop_2020                               13228
pop_2018                               13228
capacity                               13228
pct_occup                                  1
Name: 450, dtype: object
name                             Connecticut
total_staff_cases                          3
total_prisoner_cases                       2
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-01 00:00:00
lower_name                       connecticut
state                            connecticut
pop_2020                               13228
pop_2018                               13228
capacity                               13228
pct_occup                                  1
Name: 451, dtype: object
name                             Connecticut
total_staff_cases                         52
total_prisoner_cases                      46
total_staff_deaths                         0
total_prisoner_deaths                      0
as_of_date               2020-04-07 00:00:00
lower_name                       connecticut
state                            connecticut
pop_2020                               13228
pop_2018                               13228
capacity                               13228
pct_occup                                  1
Name: 452, dtype: object
name                             Connecticut
total_staff_cases                        139
total_prisoner_cases                     199
total_staff_deaths                         0
total_prisoner_deaths                      1
as_of_date               2020-04-15 00:00:00
lower_name                       connecticut
state                            connecticut
pop_2020                               13228
pop_2018                               13228
capacity                               13228
pct_occup                                  1
Name: 453, dtype: object
name                             Connecticut
total_staff_cases                        244
total_prisoner_cases                     321
total_staff_deaths                         0
total_prisoner_deaths                      1
as_of_date               2020-04-22 00:00:00
lower_name                       connecticut
state                            connecticut
pop_2020                               13228
pop_2018                               13228
capacity                               13228
pct_occup                                  1
Name: 454, dtype: object
name                             Connecticut
total_staff_cases                        326
total_prisoner_cases                     417
total_staff_deaths                         0
total_prisoner_deaths                      3
as_of_date               2020-04-29 00:00:00
lower_name                       connecticut
state                            connecticut
pop_2020                               13228
pop_2018                               13228
capacity                               13228
pct_occup                                  1
Name: 455, dtype: object
name                             Connecticut
total_staff_cases                        358
total_prisoner_cases                     478
total_staff_deaths                         0
total_prisoner_deaths                      6
as_of_date               2020-05-06 00:00:00
lower_name                       connecticut
state                            connecticut
pop_2020                               13228
pop_2018                               13228
capacity                               13228
pct_occup                                  1
Name: 456, dtype: object
name                             Connecticut
total_staff_cases                        368
total_prisoner_cases                     526
total_staff_deaths                         0
total_prisoner_deaths                      6
as_of_date               2020-05-13 00:00:00
lower_name                       connecticut
state                            connecticut
pop_2020                               13228
pop_2018                               13228
capacity                               13228
pct_occup                                  1
Name: 457, dtype: object
name                             Connecticut
total_staff_cases                        373
total_prisoner_cases                     684
total_staff_deaths                         0
total_prisoner_deaths                      6
as_of_date               2020-05-20 00:00:00
lower_name                       connecticut
state                            connecticut
pop_2020                               13228
pop_2018                               13228
capacity                               13228
pct_occup                                  1
Name: 458, dtype: object

In [113]:
marshall['lower_name'] = marshall['name'].str.lower()

demographics = ['state', 'pop_2020', 'pop_2018', 'capacity', 'pct_occup']
policies = ['state', 'effective_date', 'no_visits', 'lawyer_access', 'phone_access', 'video_access', 'no_volunteers', 'limiting_movement', 'screening', 'healthcare_support']

In [89]:
df.columns

Index(['state', 'pop_2020', 'pop_2018', 'capacity', 'pct_occup',
       'effective_date', 'no_visits', 'lawyer_access', 'phone_access',
       'video_access', 'no_volunteers', 'limiting_movement', 'screening',
       'healthcare_support'],
      dtype='object')

In [90]:
df

,state,pop_2020,pop_2018,capacity,pct_occup,effective_date,no_visits,lawyer_access,phone_access,video_access,no_volunteers,limiting_movement,screening,healthcare_support
0,california,114000.0,117937.0,122302.0,0.964310,2020-03-14,1,1,1,0,0,1,1,0
1,colorado,20000.0,16086.0,14738.0,1.091464,2020-03-11,1,1,0,0,1,1,0,0
2,federal,174000.0,NaN,NaN,NaN,2020-03-13,1,0,1,1,1,1,0,0
3,hawaii,2189.0,3527.0,3527.0,1.000000,2020-03-13,1,1,0,0,0,0,0,0
4,illinois,37000.0,39392.0,51329.0,0.767441,2020-03-14,1,1,1,1,0,0,0,0
5,iowa,8519.0,8559.0,6934.0,1.234352,2020-03-14,1,0,0,0,1,0,0,0
6,kentucky,12240.0,12290.0,12784.0,0.961358,2020-03-14,1,1,1,0,0,0,0,0
7,maine,2240.0,2384.0,2591.0,0.920108,2020-03-14,1,0,0,0,0,0,0,0
8,maryland,19050.0,19180.0,21072.0,0.910213,2020-03-12,1,1,0,0,1,0,0,0
9,massachusetts,7697.0,8454.0,10208.0,0.828174,2020-03-12,1,1,0,0,0,0,0,0
10,new jersey,20000.0,16393.0,17753.0,0.923393,2020-03-14,1,1,1,1,0,0,0,0
11,new mexico,6700.0,4572.0,3986.0,1.147015,2020-03-19,1,0,1,0,0,0,0,0
12,new york,41000.0,46778.0,51149.0,0.914544,2020-03-14,1,1,0,1,0,0,0,0
13,north dakota,1700.0,1336.0,1403.0,0.952245,2020-03-12,1,0,0,0,0,0,0,0
14,north carolina,34850.0,35157.0,35138.0,1.000541,2020-03-13,1,1,0,0,0,0,0,0
15,oklahoma,24562.0,19968.0,19614.0,1.018048,2020-03-13,1,0,1,1,0,0,0,0
16,pennsylvania,44500.0,45941.0,48961.0,0.938318,2020-03-13,1,1,1,1,1,0,0,1
17,vermont,1630.0,1492.0,1561.0,0.955798,2020-03-12,1,0,1,1,0,0,1,0
18,virginia,30000.0,29577.0,29197.0,1.013015,2020-03-13,1,1,0,0,0,0,0,0
19,wisconsin,22000.0,23576.0,23386.0,1.008125,2020-03-13,1,1,1,1,0,0,0,0
20,alabama,20875.0,20875.0,22176.0,0.941333,2020-03-13,1,0,1,0,1,0,0,1
21,alaska,4235.0,4235.0,4838.0,0.875362,2020-03-13,1,0,1,0,0,0,0,0
22,arizona,41937.0,41937.0,41447.0,1.011822,2020-03-13,1,0,1,0,0,0,0,0
23,arkansas,15578.0,15578.0,16120.0,0.966377,2020-03-16,1,0,1,1,0,0,0,0
24,connecticut,13228.0,13228.0,13228.0,1.000000,2020-03-13,1,0,1,0,0,0,0,0
25,delaware,5582.0,5582.0,5566.0,1.002875,2020-03-12,1,1,1,0,0,0,0,0
26,florida,85169.0,85169.0,87103.0,0.977796,2020-03-11,1,1,1,1,0,0,0,0
27,georgia,53268.0,53268.0,54358.0,0.979948,2020-03-12,1,0,0,0,0,1,0,0
28,idaho,8069.0,8069.0,7288.0,1.107162,2020-03-13,1,0,0,0,1,0,0,1
29,indiana,26562.0,26562.0,29140.0,0.911531,2020-03-12,1,0,1,0,0,0,0,0
30,kansas,9938.0,9938.0,9916.0,1.002219,2020-03-12,1,1,1,1,0,0,0,0
31,louisiana,14880.0,14880.0,16344.0,0.910426,2020-03-21,1,0,1,0,1,0,0,1
32,michigan,38761.0,38761.0,39702.0,0.976298,2020-03-13,1,0,1,0,1,1,0,0
33,minnesota,9314.0,9314.0,9504.0,0.980008,2020-03-12,1,1,1,1,0,0,0,0
34,mississippi,10061.0,10061.0,11839.0,0.849818,2020-03-12,1,1,1,0,0,0,0,0
35,missouri,30335.0,30335.0,31320.0,0.968550,2020-03-12,1,1,0,0,0,0,0,0
36,montana,1837.0,1837.0,1818.0,1.010451,2020-03-13,1,1,1,1,0,0,0,0
37,nebraska,5340.0,5340.0,4094.0,1.304348,2020-03-16,1,1,1,0,0,0,0,0
38,nevada,13182.0,13182.0,12328.0,1.069273,2020-03-07,1,1,1,0,0,0,0,0
39,new hampshire,2561.0,2561.0,2760.0,0.927899,2020-03-16,1,0,0,0,0,0,0,0
40,ohio,43870.0,43870.0,43870.0,1.000000,2020-03-10,1,1,1,1,0,1,1,0
41,oregon,14707.0,14707.0,15612.0,0.942032,2020-03-13,1,0,1,0,0,0,0,0
42,rhode island,2580.0,2580.0,3774.0,0.683625,2020-03-11,1,0,0,0,0,0,0,0
43,south carolina,18559.0,18559.0,21312.0,0.870824,2020-03-13,1,1,1,0,0,0,0,0
44,south dakota,3847.0,3847.0,4406.0,0.873128,2020-03-12,1,1,1,1,0,0,0,0
45,tennessee,11937.0,11937.0,15585.0,0.765929,2020-03-12,1,0,1,0,0,0,0,0
46,texas,137286.0,137286.0,151284.0,0.907472,2020-03-13,1,0,0,0,0,0,0,0
47,utah,5202.0,5202.0,6771.0,0.768276,2020-03-12,1,1,1,0,0,0,0,0
48,washington,17415.0,17415.0,16775.0,1.038152,2020-03-18,1,1,1,1,0,0,0,0
49,west virginia,5829.0,5829.0,6108.0,0.954322,2020-03-11,1,1,1,1,0,0,0,0
50,wyoming,2053.0,2053.0,2116.0,0.970227,2020-03-18,1,1,0,0,0,0,0,0
51,dc,NaN,NaN,NaN,NaN,2020-03-14,1,0,0,0,1,0,0,0

In [111]:
 marshall.merge(df[['state', 'pop_2020', 'pop_2018', 'capacity', 'pct_occup']], left_on='lower_name', right_on='state')

,name,total_staff_cases,total_prisoner_cases,total_staff_deaths,total_prisoner_deaths,as_of_date,lower_name,state,pop_2020,pop_2018,capacity,pct_occup
0,Delaware,0,0,0,0,2020-03-24,delaware,delaware,5582.0,5582.0,5566.0,1.002875
1,Delaware,0,0,0,0,2020-04-01,delaware,delaware,5582.0,5582.0,5566.0,1.002875
2,Delaware,6,2,0,0,2020-04-08,delaware,delaware,5582.0,5582.0,5566.0,1.002875
3,Delaware,18,13,0,0,2020-04-15,delaware,delaware,5582.0,5582.0,5566.0,1.002875
4,Delaware,26,41,0,1,2020-04-22,delaware,delaware,5582.0,5582.0,5566.0,1.002875
...,...,...,...,...,...,...,...,...,...,...,...,...
445,Connecticut,244,321,0,1,2020-04-22,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000
446,Connecticut,326,417,0,3,2020-04-29,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000
447,Connecticut,358,478,0,6,2020-05-06,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000
448,Connecticut,368,526,0,6,2020-05-13,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000
449,Connecticut,373,684,0,6,2020-05-20,connecticut,connecticut,13228.0,13228.0,13228.0,1.000000

In [98]:
pd.options.display.max_columns = None

marshall

,name,total_staff_cases,total_prisoner_cases,total_staff_deaths,total_prisoner_deaths,as_of_date,lower_name
415,Delaware,0,0,0,0,2020-03-24,delaware
420,Illinois,3,3,0,0,2020-03-25,illinois
458,Federal,8,10,0,0,2020-03-26,federal
430,Minnesota,0,0,0,0,2020-03-26,minnesota
429,Michigan,25,24,0,0,2020-03-26,michigan
...,...,...,...,...,...,...,...
34,Ohio,622,4550,4,63,2020-05-20,ohio
26,Nebraska,10,7,0,0,2020-05-20,nebraska
36,Oregon,38,143,0,1,2020-05-21,oregon
20,Massachusetts,165,375,0,8,2020-05-21,massachusetts
1,Alaska,11,2,0,0,2020-05-21,alaska

In [110]:
marshall.columns

Index(['name', 'total_staff_cases', 'total_prisoner_cases',
       'total_staff_deaths', 'total_prisoner_deaths', 'as_of_date',
       'lower_name'],
      dtype='object')

In [101]:
df.columns

Index(['state', 'pop_2020', 'pop_2018', 'capacity', 'pct_occup',
       'effective_date', 'no_visits', 'lawyer_access', 'phone_access',
       'video_access', 'no_volunteers', 'limiting_movement', 'screening',
       'healthcare_support'],
      dtype='object')